<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>图片_特效_孙鲁班_龙虎乱舞_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{388,230}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{388,230}}</string>
                <key>sourceSize</key>
                <string>{400,232}</string>
            </dict>
            <key>图片_特效_孙鲁班_龙虎乱舞_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{394,230}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{394,230}}</string>
                <key>sourceSize</key>
                <string>{400,232}</string>
            </dict>
            <key>图片_特效_孙鲁班_龙虎乱舞_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{394,230}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{394,230}}</string>
                <key>sourceSize</key>
                <string>{400,232}</string>
            </dict>
            <key>图片_特效_孙鲁班_龙虎乱舞_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,230}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{394,230}}</string>
                <key>sourceSize</key>
                <string>{400,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S刀修炼领域.png</string>
            <key>size</key>
            <string>{1580,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad66f27e2ccdc55ea457ea78d087e8b9$</string>
            <key>textureFileName</key>
            <string>S刀修炼领域.png</string>
        </dict>
    </dict>
</plist>
