<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1676},{95,71}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,73},{95,71}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1676},{153,153}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,1},{153,153}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1513},{211,161}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,161}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{251,165}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,165}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{251,165}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,165}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{251,167}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,167}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{251,167}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,167}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{251,165}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{251,165}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{251,167}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,167}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{251,165}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{251,165}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,167}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,167}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bd12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{251,165}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,165}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>bfg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1831},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S刀万魂波动.png</string>
            <key>size</key>
            <string>{255,1935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87fa2932301f87d907a81409e44f418a$</string>
            <key>textureFileName</key>
            <string>S刀万魂波动.png</string>
        </dict>
    </dict>
</plist>
