<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,750},{238,206}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{238,206}}</string>
                <key>sourceSize</key>
                <string>{266,222}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,506},{242,206}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{242,206}}</string>
                <key>sourceSize</key>
                <string>{266,222}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,258},{246,204}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{246,204}}</string>
                <key>sourceSize</key>
                <string>{266,222}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{248,202}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{248,202}}</string>
                <key>sourceSize</key>
                <string>{266,222}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{254,202}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{254,202}}</string>
                <key>sourceSize</key>
                <string>{266,222}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{258,200}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{258,200}}</string>
                <key>sourceSize</key>
                <string>{266,222}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{258,198}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{258,198}}</string>
                <key>sourceSize</key>
                <string>{266,222}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{260,196}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{260,196}}</string>
                <key>sourceSize</key>
                <string>{266,222}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,196}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{262,196}}</string>
                <key>sourceSize</key>
                <string>{266,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>云外镜-行走1.png</string>
            <key>size</key>
            <string>{470,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71bac36a1703a88ad4a6deb0d656174f$</string>
            <key>textureFileName</key>
            <string>云外镜-行走1.png</string>
        </dict>
    </dict>
</plist>
