<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_poison_wdgx_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,314},{160,133}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{160,133}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>skill_poison_wdgx_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,316},{160,129}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{160,129}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>skill_poison_wdgx_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,183},{154,131}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,48},{154,131}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>skill_poison_wdgx_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{154,109}}</string>
                <key>offset</key>
                <string>{3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,70},{154,109}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>skill_poison_wdgx_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{154,179}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{154,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>skill_poison_wdgx_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{154,179}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{154,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>skill_poison_wdgx_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,158},{154,177}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{154,177}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>skill_poison_wdgx_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{160,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>skill_poison_wdgx_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>亡语_红.png</string>
            <key>size</key>
            <string>{501,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ae5c3c2ab709f151aa0869c89ac8ccb$</string>
            <key>textureFileName</key>
            <string>亡语_红.png</string>
        </dict>
    </dict>
</plist>
