<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shouji_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{329,260}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,53},{329,260}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{329,268}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,47},{329,268}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{319,260}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{319,260}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,634},{321,286}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,22},{321,286}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{315,290}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,20},{315,290}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,957},{323,296}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,19},{323,296}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,316}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{329,316}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{313,282}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{313,282}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,319},{313,290}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{313,290}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{323,300}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{323,300}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1597},{313,298}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,1},{313,298}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{313,300}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{313,300}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
            <key>shouji_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1282},{313,300}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{313,300}}</string>
                <key>sourceSize</key>
                <string>{373,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>亡语_毒藤.png</string>
            <key>size</key>
            <string>{625,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:612231c486fcf55e7352b10b7daa9bb9$</string>
            <key>textureFileName</key>
            <string>亡语_毒藤.png</string>
        </dict>
    </dict>
</plist>
