<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{41,49}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{41,49}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{43,51}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{73,35}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{73,35}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{51,47}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{51,47}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{47,49}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{47,49}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{43,49}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{43,49}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,43}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{53,43}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{71,35}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{71,35}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{73,35}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{73,35}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{73,35}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{73,35}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{73,35}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{73,35}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{40,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{38,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{40,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{40,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{40,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{40,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{40,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{38,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{40,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>亡魂武士.png</string>
            <key>size</key>
            <string>{833,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09a7bfb2f87bde27ed4a104f3973bc00$</string>
            <key>textureFileName</key>
            <string>亡魂武士.png</string>
        </dict>
    </dict>
</plist>
