<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>修罗刀客-恶修罗-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{43,73}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{43,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{43,73}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{43,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{43,75}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{43,75}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{43,75}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{43,75}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{41,73}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{41,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{41,73}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{41,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{41,71}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{41,71}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{41,73}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{41,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,75}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{43,75}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{43,73}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,27},{43,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{43,73}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,27},{43,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>修罗刀客-恶修罗-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{43,73}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,27},{43,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>修罗刀客-恶修罗-行走.png</string>
            <key>size</key>
            <string>{47,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08175270873fe2fe88356e0a1aad5c19$</string>
            <key>textureFileName</key>
            <string>修罗刀客-恶修罗-行走.png</string>
        </dict>
    </dict>
</plist>
