<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>技能/skeleton-skill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,424},{358,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,490}}</string>
                <key>sourceSize</key>
                <string>{358,490}</string>
            </dict>
            <key>技能/skeleton-skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,914},{358,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,490}}</string>
                <key>sourceSize</key>
                <string>{358,490}</string>
            </dict>
            <key>技能/skeleton-skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,914},{358,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,490}}</string>
                <key>sourceSize</key>
                <string>{358,490}</string>
            </dict>
            <key>技能/skeleton-skill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,914},{358,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,490}}</string>
                <key>sourceSize</key>
                <string>{358,490}</string>
            </dict>
            <key>技能/skeleton-skill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,424},{358,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,490}}</string>
                <key>sourceSize</key>
                <string>{358,490}</string>
            </dict>
            <key>技能/skeleton-skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,424},{358,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,490}}</string>
                <key>sourceSize</key>
                <string>{358,490}</string>
            </dict>
            <key>技能/skeleton-skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{358,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,490}}</string>
                <key>sourceSize</key>
                <string>{358,490}</string>
            </dict>
            <key>技能/skeleton-skill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,914},{358,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,490}}</string>
                <key>sourceSize</key>
                <string>{358,490}</string>
            </dict>
            <key>技能/skeleton-skill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,424},{358,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,490}}</string>
                <key>sourceSize</key>
                <string>{358,490}</string>
            </dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1404},{600,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,564}}</string>
                <key>sourceSize</key>
                <string>{600,564}</string>
            </dict>
            <key>死亡/skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1404},{600,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,564}}</string>
                <key>sourceSize</key>
                <string>{600,564}</string>
            </dict>
            <key>死亡/skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{600,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,564}}</string>
                <key>sourceSize</key>
                <string>{600,564}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,422}}</string>
                <key>sourceSize</key>
                <string>{330,422}</string>
            </dict>
            <key>行走/skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{330,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,422}}</string>
                <key>sourceSize</key>
                <string>{330,422}</string>
            </dict>
            <key>行走/skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{330,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,422}}</string>
                <key>sourceSize</key>
                <string>{330,422}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{330,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,422}}</string>
                <key>sourceSize</key>
                <string>{330,422}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{330,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,422}}</string>
                <key>sourceSize</key>
                <string>{330,422}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{330,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,422}}</string>
                <key>sourceSize</key>
                <string>{330,422}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2},{330,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,422}}</string>
                <key>sourceSize</key>
                <string>{330,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>僵尸王.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16ef76a2599053ab424825ec962b81d3$</string>
            <key>textureFileName</key>
            <string>僵尸王.png</string>
        </dict>
    </dict>
</plist>
