<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ztslanlu-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,374},{56,82}}</string>
                <key>offset</key>
                <string>{-40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
            <key>ztslanlu-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{66,90}}</string>
                <key>offset</key>
                <string>{-35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
            <key>ztslanlu-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{90,74}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{90,74}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
            <key>ztslanlu-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{102,70}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{102,70}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
            <key>ztslanlu-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{110,68}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{110,68}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
            <key>ztslanlu-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{118,66}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{118,66}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
            <key>ztslanlu-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{122,64}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{122,64}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
            <key>ztslanlu-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,64}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{122,64}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
            <key>ztslanlu-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,64}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{122,64}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
            <key>ztslanlu-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,290},{57,82}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{57,82}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>ztslanlu-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,204},{57,84}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{57,84}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>ztslanlu-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,336},{59,84}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{59,84}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>ztslanlu-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,273},{61,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{61,84}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>ztslanlu-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,70},{63,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{63,84}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>ztslanlu-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,204},{67,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{67,84}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>ztslanlu-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,135},{67,84}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{67,84}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>ztslanlu-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,352},{59,84}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{59,84}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>ztslanlu-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,290},{57,82}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{57,82}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>僵尸妹妹.png</string>
            <key>size</key>
            <string>{251,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75683f414eb421215776f97df59d862e$</string>
            <key>textureFileName</key>
            <string>僵尸妹妹.png</string>
        </dict>
    </dict>
</plist>
