<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ztslanlu-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{56,84}}</string>
                <key>offset</key>
                <string>{-38,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{56,84}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>ztslanlu-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{72,92}}</string>
                <key>offset</key>
                <string>{-35,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>ztslanlu-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{94,76}}</string>
                <key>offset</key>
                <string>{-26,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{94,76}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>ztslanlu-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{118,72}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{118,72}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>ztslanlu-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,920},{134,66}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{134,66}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>ztslanlu-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,68}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{144,68}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>ztslanlu-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{146,64}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>ztslanlu-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{146,64}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>ztslanlu-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{146,64}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>ztslanlu-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{57,82}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{57,82}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>ztslanlu-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{57,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{57,84}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>ztslanlu-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1140},{57,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{57,82}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>ztslanlu-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,750},{57,84}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,84}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>ztslanlu-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{57,84}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,84}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>ztslanlu-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,664},{57,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{57,84}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>ztslanlu-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,492},{59,84}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{59,84}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>ztslanlu-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{57,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{57,84}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>ztslanlu-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{57,82}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{57,82}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>ztslanlu-stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{56,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{56,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1056},{58,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{56,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{56,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,836},{58,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,578},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,406},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,320},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,234},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>ztslanlu-stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,148},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>僵尸童子.png</string>
            <key>size</key>
            <string>{128,1509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89e23fda0b2aa507b664a2d2e6d099bd$</string>
            <key>textureFileName</key>
            <string>僵尸童子.png</string>
        </dict>
    </dict>
</plist>
