<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,680},{23,19}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{23,19}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,633},{79,69}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{79,69}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,562},{79,69}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{79,69}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,704},{77,65}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{77,65}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,635},{67,43}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{67,43}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,771},{39,33}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{39,33}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,562},{61,57}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{61,57}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,562},{73,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{73,69}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,562},{75,71}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{75,71}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{294,272}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{294,272}}</string>
                <key>sourceSize</key>
                <string>{326,308}</string>
            </dict>
            <key>行走/skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{292,278}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{292,278}}</string>
                <key>sourceSize</key>
                <string>{326,308}</string>
            </dict>
            <key>行走/skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,280}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{292,280}}</string>
                <key>sourceSize</key>
                <string>{326,308}</string>
            </dict>
            <key>行走/skeleton-run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{294,274}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{294,274}}</string>
                <key>sourceSize</key>
                <string>{326,308}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{284,276}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,29},{284,276}}</string>
                <key>sourceSize</key>
                <string>{326,308}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,288},{272,280}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{272,280}}</string>
                <key>sourceSize</key>
                <string>{326,308}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,560},{278,276}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{278,276}}</string>
                <key>sourceSize</key>
                <string>{326,308}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,278},{282,280}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{282,280}}</string>
                <key>sourceSize</key>
                <string>{326,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>僵尸将军.png</string>
            <key>size</key>
            <string>{870,838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84c91fad9676bc787da0f7c5da9f0149$</string>
            <key>textureFileName</key>
            <string>僵尸将军.png</string>
        </dict>
    </dict>
</plist>
