<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{51,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,15}}</string>
                <key>sourceSize</key>
                <string>{51,15}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{51,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,15}}</string>
                <key>sourceSize</key>
                <string>{51,15}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{51,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,15}}</string>
                <key>sourceSize</key>
                <string>{51,15}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{51,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,15}}</string>
                <key>sourceSize</key>
                <string>{51,15}</string>
            </dict>
            <key>lingshe.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>lingshe22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>冥蛇咒-低高级毒蛇.png</string>
            <key>size</key>
            <string>{374,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c50c8845e20bb69c45e6af25d8b4464a$</string>
            <key>textureFileName</key>
            <string>冥蛇咒-低高级毒蛇.png</string>
        </dict>
    </dict>
</plist>
