<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1579},{91,147}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,23},{91,147}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{95,149}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,20},{95,149}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{109,143}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{109,143}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,133}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{119,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{117,135}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{117,135}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{107,145}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{107,145}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{93,147}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,23},{93,147}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1281},{95,147}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,22},{95,147}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{109,143}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,24},{109,143}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{117,133}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{117,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{117,135}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{117,135}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>剧毒蛾-行走/剧毒蛾-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{107,145}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,23},{107,145}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>剧毒蛾.png</string>
            <key>size</key>
            <string>{123,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6ed81f6df590de7f9f2ef53b8433322$</string>
            <key>textureFileName</key>
            <string>剧毒蛾.png</string>
        </dict>
    </dict>
</plist>
