<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{176,146}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{176,146}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{184,148}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{184,148}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{216,150}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{216,150}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{214,148}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{214,148}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{176,146}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{176,146}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{190,150}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{190,150}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{198,150}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{198,150}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{204,150}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{204,150}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{210,150}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{210,150}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,152}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{216,152}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{216,150}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{216,150}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{216,150}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{216,150}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
            <key>skeleton-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{216,150}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{216,150}}</string>
                <key>sourceSize</key>
                <string>{236,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>千年蝠妖-行走.png</string>
            <key>size</key>
            <string>{220,1820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f282595deb8132217de6627df9480d5$</string>
            <key>textureFileName</key>
            <string>千年蝠妖-行走.png</string>
        </dict>
    </dict>
</plist>
