<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{23,19}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{23,19}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1314},{79,69}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{79,69}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1314},{79,69}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{79,69}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{77,65}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{77,65}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1314},{67,43}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{67,43}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1292},{39,33}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{39,33}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1333},{61,57}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{61,57}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1314},{73,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{73,69}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>死亡/skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1314},{75,71}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{75,71}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{246,214}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{246,214}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1104},{248,208}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{248,208}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,884},{248,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{248,218}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{248,216}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{248,216}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{256,210}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{256,210}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,206}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{260,206}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{252,206}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{252,206}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,668},{250,214}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{250,214}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,218},{250,224}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{250,224}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,444},{250,222}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{250,222}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{250,220}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{250,220}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
            <key>行走/skeleton-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{248,220}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{248,220}}</string>
                <key>sourceSize</key>
                <string>{270,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>千年树妖.png</string>
            <key>size</key>
            <string>{512,1393}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16df21d53af6de74692922825f8d1ab4$</string>
            <key>textureFileName</key>
            <string>千年树妖.png</string>
        </dict>
    </dict>
</plist>
