<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>高级/image1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{223,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,164}}</string>
                <key>sourceSize</key>
                <string>{227,166}</string>
            </dict>
            <key>高级/image10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{225,164}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{225,164}}</string>
                <key>sourceSize</key>
                <string>{227,166}</string>
            </dict>
            <key>高级/image2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{223,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{223,162}}</string>
                <key>sourceSize</key>
                <string>{227,166}</string>
            </dict>
            <key>高级/image3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{223,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{223,162}}</string>
                <key>sourceSize</key>
                <string>{227,166}</string>
            </dict>
            <key>高级/image4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{223,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{223,162}}</string>
                <key>sourceSize</key>
                <string>{227,166}</string>
            </dict>
            <key>高级/image5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{223,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{223,162}}</string>
                <key>sourceSize</key>
                <string>{227,166}</string>
            </dict>
            <key>高级/image6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{225,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{225,162}}</string>
                <key>sourceSize</key>
                <string>{227,166}</string>
            </dict>
            <key>高级/image7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{227,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{227,162}}</string>
                <key>sourceSize</key>
                <string>{227,166}</string>
            </dict>
            <key>高级/image8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{227,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,164}}</string>
                <key>sourceSize</key>
                <string>{227,166}</string>
            </dict>
            <key>高级/image9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,164}}</string>
                <key>sourceSize</key>
                <string>{227,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>千机环_高级.png</string>
            <key>size</key>
            <string>{231,1650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:109694dd6ee268c626656a709ae7a2c4$</string>
            <key>textureFileName</key>
            <string>千机环_高级.png</string>
        </dict>
    </dict>
</plist>
