<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>咒符魔-死亡/咒符魔-死亡0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,137}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,25},{87,137}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{89,127}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,35},{89,127}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,135},{97,113}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,48},{97,113}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,113},{95,109}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,52},{95,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{97,107}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,54},{97,107}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{93,109}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,52},{93,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,135},{93,113}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,62},{93,113}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,113},{109,85}}</string>
                <key>offset</key>
                <string>{25,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,108},{109,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{129,83}}</string>
                <key>offset</key>
                <string>{36,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,110},{129,83}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{131,85}}</string>
                <key>offset</key>
                <string>{37,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,109},{131,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{131,85}}</string>
                <key>offset</key>
                <string>{36,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,109},{131,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-死亡/咒符魔-死亡0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{131,83}}</string>
                <key>offset</key>
                <string>{37,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,110},{131,83}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,2},{97,105}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{97,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,113},{97,109}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,52},{97,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,131},{95,111}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,50},{95,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,135},{93,115}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,47},{93,115}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,133},{99,111}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,49},{99,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,111},{99,105}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,52},{99,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,109},{97,103}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,54},{97,103}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{101,109}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{101,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,113},{109,109}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,55},{109,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{109,109}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,55},{109,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{101,111}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,53},{101,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>咒符魔-行走/咒符魔-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{95,109}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,52},{95,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>咒符魔.png</string>
            <key>size</key>
            <string>{1186,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00eeb55145109ebf067c1ff303aaf807$</string>
            <key>textureFileName</key>
            <string>咒符魔.png</string>
        </dict>
    </dict>
</plist>
