<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>高级/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{65,92}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{65,92}}</string>
                <key>sourceSize</key>
                <string>{75,106}</string>
            </dict>
            <key>高级/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{67,90}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{67,90}}</string>
                <key>sourceSize</key>
                <string>{75,106}</string>
            </dict>
            <key>高级/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,90}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,90}}</string>
                <key>sourceSize</key>
                <string>{75,106}</string>
            </dict>
            <key>高级/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{67,92}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{67,92}}</string>
                <key>sourceSize</key>
                <string>{75,106}</string>
            </dict>
            <key>高级/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{49,98}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{49,98}}</string>
                <key>sourceSize</key>
                <string>{75,106}</string>
            </dict>
            <key>高级/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,57},{47,102}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,102}}</string>
                <key>sourceSize</key>
                <string>{75,106}</string>
            </dict>
            <key>高级/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{53,104}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{53,104}}</string>
                <key>sourceSize</key>
                <string>{75,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>回旋镖-燕返术_高级.png</string>
            <key>size</key>
            <string>{439,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:774a5f5cdc7a89dc440741a79fad8900$</string>
            <key>textureFileName</key>
            <string>回旋镖-燕返术_高级.png</string>
        </dict>
    </dict>
</plist>
