<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>夜叉-死亡/夜叉-死亡0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{103,99}}</string>
                <key>offset</key>
                <string>{-29,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,49},{103,99}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{115,95}}</string>
                <key>offset</key>
                <string>{-43,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,52},{115,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{115,97}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{115,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{113,95}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,57},{113,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1767},{103,87}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,68},{103,87}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,65}}</string>
                <key>offset</key>
                <string>{20,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,101},{119,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{117,47}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,116},{117,47}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{113,43}}</string>
                <key>offset</key>
                <string>{22,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,121},{113,43}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{115,43}}</string>
                <key>offset</key>
                <string>{22,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,122},{115,43}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{119,47}}</string>
                <key>offset</key>
                <string>{23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,121},{119,47}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{119,47}}</string>
                <key>offset</key>
                <string>{23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,121},{119,47}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-死亡/夜叉-死亡0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{119,47}}</string>
                <key>offset</key>
                <string>{23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,121},{119,47}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1579},{107,85}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{107,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{107,87}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,66},{107,87}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{109,87}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,66},{109,87}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1229},{111,87}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,66},{111,87}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{113,87}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,64},{113,87}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{113,85}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,64},{113,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{115,83}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{115,83}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{117,79}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,66},{117,79}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{117,77}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,64},{117,77}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{115,77}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{115,77}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1103},{113,79}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,63},{113,79}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>夜叉-行走/夜叉-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1407},{109,81}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,63},{109,81}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>夜叉.png</string>
            <key>size</key>
            <string>{123,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bdbcb6c5b455e1d2727378d459d1a96$</string>
            <key>textureFileName</key>
            <string>夜叉.png</string>
        </dict>
    </dict>
</plist>
