<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1800},{168,212}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,246},{168,212}}</string>
                <key>sourceSize</key>
                <string>{320,560}</string>
            </dict>
            <key>01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,384}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,112},{232,384}}</string>
                <key>sourceSize</key>
                <string>{320,560}</string>
            </dict>
            <key>01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{218,332}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,112},{218,332}}</string>
                <key>sourceSize</key>
                <string>{320,560}</string>
            </dict>
            <key>01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{204,310}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,119},{204,310}}</string>
                <key>sourceSize</key>
                <string>{320,560}</string>
            </dict>
            <key>01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{178,270}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,124},{178,270}}</string>
                <key>sourceSize</key>
                <string>{320,560}</string>
            </dict>
            <key>01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{160,254}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,127},{160,254}}</string>
                <key>sourceSize</key>
                <string>{320,560}</string>
            </dict>
            <key>01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{124,236}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,144},{124,236}}</string>
                <key>sourceSize</key>
                <string>{320,560}</string>
            </dict>
            <key>01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1562},{90,224}}</string>
                <key>offset</key>
                <string>{21,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,151},{90,224}}</string>
                <key>sourceSize</key>
                <string>{320,560}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>太刀刀光.png</string>
            <key>size</key>
            <string>{236,1970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4066f4d1c1d570a7bdcd1ac407ae313f$</string>
            <key>textureFileName</key>
            <string>太刀刀光.png</string>
        </dict>
    </dict>
</plist>
