<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,254},{248,231}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,78},{248,231}}</string>
                <key>sourceSize</key>
                <string>{282,321}</string>
            </dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,266},{262,207}}</string>
                <key>offset</key>
                <string>{8,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,105},{262,207}}</string>
                <key>sourceSize</key>
                <string>{282,321}</string>
            </dict>
            <key>死亡/skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,2},{248,225}}</string>
                <key>offset</key>
                <string>{15,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,87},{248,225}}</string>
                <key>sourceSize</key>
                <string>{282,321}</string>
            </dict>
            <key>死亡/skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,254},{248,245}}</string>
                <key>offset</key>
                <string>{15,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,76},{248,245}}</string>
                <key>sourceSize</key>
                <string>{282,321}</string>
            </dict>
            <key>死亡/skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{262,265}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,51},{262,265}}</string>
                <key>sourceSize</key>
                <string>{282,321}</string>
            </dict>
            <key>死亡/skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{262,289}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{262,289}}</string>
                <key>sourceSize</key>
                <string>{282,321}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,266},{250,231}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,78},{250,231}}</string>
                <key>sourceSize</key>
                <string>{252,321}</string>
            </dict>
            <key>行走/skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{248,269}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,48},{248,269}}</string>
                <key>sourceSize</key>
                <string>{252,321}</string>
            </dict>
            <key>行走/skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{248,283}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,35},{248,283}}</string>
                <key>sourceSize</key>
                <string>{252,321}</string>
            </dict>
            <key>行走/skeleton-run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,297}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{250,297}}</string>
                <key>sourceSize</key>
                <string>{252,321}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,241},{250,235}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,76},{250,235}}</string>
                <key>sourceSize</key>
                <string>{252,321}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{250,237}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,75},{250,237}}</string>
                <key>sourceSize</key>
                <string>{252,321}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{250,237}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,77},{250,237}}</string>
                <key>sourceSize</key>
                <string>{252,321}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,252},{248,251}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,64},{248,251}}</string>
                <key>sourceSize</key>
                <string>{252,321}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>寄尸蟹.png</string>
            <key>size</key>
            <string>{1850,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9869662803a4522885ac69ec91f8a1c1$</string>
            <key>textureFileName</key>
            <string>寄尸蟹.png</string>
        </dict>
    </dict>
</plist>
