<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuezhizhu(s)-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,214},{51,36}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{51,36}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{49,48}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{49,48}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{73,42}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{73,42}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,36},{73,42}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,32},{73,42}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{63,26}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{63,26}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{61,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{61,70}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{63,52}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{63,52}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,111},{63,50}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{63,50}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{69,42}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{69,42}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,42}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{73,42}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{73,42}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{73,42}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{73,42}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{73,42}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{73,42}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{73,42}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>xuezhizhu(s)-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{45,32}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{45,32}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>xuezhizhu(s)-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,176},{51,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,36}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>xuezhizhu(s)-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,252},{41,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{41,34}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>xuezhizhu(s)-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,279},{49,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{49,32}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>xuezhizhu(s)-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{45,32}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{45,32}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>小血蛛.png</string>
            <key>size</key>
            <string>{126,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5774ba0ed7b03b9ea0673b0b4088469e$</string>
            <key>textureFileName</key>
            <string>小血蛛.png</string>
        </dict>
    </dict>
</plist>
