<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>小青蛙-跑0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{42,42}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{42,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{42,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{42,40}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{42,40}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{42,40}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{42,38}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,47},{42,38}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{42,42}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,39},{42,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{48,40}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{48,40}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,40}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,37},{52,40}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{50,38}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,45},{50,38}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{44,38}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,48},{44,38}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{44,38}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,47},{44,38}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{42,38}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{42,38}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>小青蛙-跑0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{42,42}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{42,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>小青蛙-跑.png</string>
            <key>size</key>
            <string>{56,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:810f872dc83a1cc5086e9235c06fadfb$</string>
            <key>textureFileName</key>
            <string>小青蛙-跑.png</string>
        </dict>
    </dict>
</plist>
