<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{162,151}}</string>
                <key>offset</key>
                <string>{-68,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{162,151}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,631},{178,155}}</string>
                <key>offset</key>
                <string>{-63,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{178,155}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,91},{204,103}}</string>
                <key>offset</key>
                <string>{48,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,75},{204,103}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,91},{204,103}}</string>
                <key>offset</key>
                <string>{48,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,75},{204,103}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,91},{204,103}}</string>
                <key>offset</key>
                <string>{48,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,75},{204,103}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,196},{184,159}}</string>
                <key>offset</key>
                <string>{-63,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{184,159}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{176,149}}</string>
                <key>offset</key>
                <string>{-70,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{176,149}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,703},{174,149}}</string>
                <key>offset</key>
                <string>{-71,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{174,149}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{186,159}}</string>
                <key>offset</key>
                <string>{-30,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,20},{186,159}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,93}}</string>
                <key>offset</key>
                <string>{42,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,73},{214,93}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{206,87}}</string>
                <key>offset</key>
                <string>{48,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,71},{206,87}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,91},{204,103}}</string>
                <key>offset</key>
                <string>{48,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,75},{204,103}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,91},{204,103}}</string>
                <key>offset</key>
                <string>{48,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,75},{204,103}}</string>
                <key>sourceSize</key>
                <string>{316,237}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,291},{181,136}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{181,136}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{181,136}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,136}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,854},{171,134}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{171,134}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,788},{175,136}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{175,136}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,565},{179,136}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{179,136}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,291},{181,136}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{181,136}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,429},{181,134}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{181,134}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{181,134}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{181,134}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,357},{181,134}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{181,134}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{179,136}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{179,136}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,493},{179,136}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{179,136}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,821},{175,136}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{175,136}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{175,136}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{175,136}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skeleton-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,155},{171,134}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{171,134}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>巨盾战尸.png</string>
            <key>size</key>
            <string>{597,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa261ab34efa9da39c3a73f72c1302a1$</string>
            <key>textureFileName</key>
            <string>巨盾战尸.png</string>
        </dict>
    </dict>
</plist>
