<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>巨石魔-死亡/巨石魔-死亡0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,325},{141,97}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,53},{141,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{167,103}}</string>
                <key>offset</key>
                <string>{15,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,30},{167,103}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,133}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{149,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,295},{143,101}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,48},{143,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{179,85}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,61},{179,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{169,85}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,62},{169,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{163,83}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,68},{163,83}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,306},{145,81}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,68},{145,81}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,583},{141,81}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,68},{141,81}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,575},{141,83}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,68},{141,83}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,432},{141,87}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,64},{141,87}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-死亡/巨石魔-死亡0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,453},{143,93}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,58},{143,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,593},{93,123}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{93,123}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,208},{99,115}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{99,115}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{113,105}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,47},{113,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,598},{129,91}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,58},{129,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,295},{135,103}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,55},{135,103}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,188},{141,105}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,48},{141,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,188},{141,105}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{141,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,89},{151,97}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{151,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{153,93}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,55},{153,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,440},{141,97}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,50},{141,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,87},{119,107}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,46},{119,107}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>巨石魔-行走/巨石魔-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,468},{99,123}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{99,123}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>巨石魔.png</string>
            <key>size</key>
            <string>{502,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a556a652845c3a7a1cc54ed069f92021$</string>
            <key>textureFileName</key>
            <string>巨石魔.png</string>
        </dict>
    </dict>
</plist>
