<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{89,109}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,49},{89,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{83,109}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,44},{83,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,123},{93,117}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,32},{93,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,135},{107,117}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,27},{107,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{119,129}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,21},{119,129}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{117,131}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,23},{117,131}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{119,115}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,39},{119,115}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{133,99}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,55},{133,99}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{147,85}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,76},{147,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{151,65}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,92},{151,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{151,67}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,98},{151,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-死亡/幻灵女鬼-死亡0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,63}}</string>
                <key>offset</key>
                <string>{-16,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,102},{155,63}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,115},{93,111}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,43},{93,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{91,107}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{91,107}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,137},{91,105}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,41},{91,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,133},{89,109}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,44},{89,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,155},{87,111}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,44},{87,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{85,105}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,48},{85,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,113},{85,109}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,44},{85,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,111},{87,107}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,41},{87,107}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,2},{89,105}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{89,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,151},{91,109}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,44},{91,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{93,111}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,45},{93,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>幻灵女鬼-行走/幻灵女鬼-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,123},{93,111}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{93,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>幻灵女鬼.png</string>
            <key>size</key>
            <string>{1207,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b47412132ef1259a19f4ec2391a66a6d$</string>
            <key>textureFileName</key>
            <string>幻灵女鬼.png</string>
        </dict>
    </dict>
</plist>
