<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,484},{234,230}}</string>
                <key>offset</key>
                <string>{-57,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{234,230}}</string>
                <key>sourceSize</key>
                <string>{422,308}</string>
            </dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,154}}</string>
                <key>offset</key>
                <string>{34,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,127},{302,154}}</string>
                <key>sourceSize</key>
                <string>{422,308}</string>
            </dict>
            <key>死亡/skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{210,114}}</string>
                <key>offset</key>
                <string>{18,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,167},{210,114}}</string>
                <key>sourceSize</key>
                <string>{422,308}</string>
            </dict>
            <key>死亡/skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,244},{238,228}}</string>
                <key>offset</key>
                <string>{-68,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{238,228}}</string>
                <key>sourceSize</key>
                <string>{422,308}</string>
            </dict>
            <key>死亡/skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1218},{250,234}}</string>
                <key>offset</key>
                <string>{-77,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{250,234}}</string>
                <key>sourceSize</key>
                <string>{422,308}</string>
            </dict>
            <key>死亡/skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{240,194}}</string>
                <key>offset</key>
                <string>{35,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,88},{240,194}}</string>
                <key>sourceSize</key>
                <string>{422,308}</string>
            </dict>
            <key>死亡/skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{272,174}}</string>
                <key>offset</key>
                <string>{38,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,108},{272,174}}</string>
                <key>sourceSize</key>
                <string>{422,308}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,720},{238,245}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{238,245}}</string>
                <key>sourceSize</key>
                <string>{264,287}</string>
            </dict>
            <key>行走/skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{242,255}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{242,255}}</string>
                <key>sourceSize</key>
                <string>{264,287}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,967},{236,249}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{236,249}}</string>
                <key>sourceSize</key>
                <string>{264,287}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{234,259}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{234,259}}</string>
                <key>sourceSize</key>
                <string>{264,287}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{248,267}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{248,267}}</string>
                <key>sourceSize</key>
                <string>{264,287}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{244,261}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{244,261}}</string>
                <key>sourceSize</key>
                <string>{264,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>彼岸花妖.png</string>
            <key>size</key>
            <string>{506,1479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:559e63fd3c14a9af2fc60efe10ad176e$</string>
            <key>textureFileName</key>
            <string>彼岸花妖.png</string>
        </dict>
    </dict>
</plist>
