<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{131,103}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,54},{131,103}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,109}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,52},{131,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{115,107}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{115,107}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{127,99}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{127,99}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{147,79}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,91},{147,79}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,83},{141,73}}</string>
                <key>offset</key>
                <string>{29,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,101},{141,73}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,158},{141,67}}</string>
                <key>offset</key>
                <string>{28,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,102},{141,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,227},{139,69}}</string>
                <key>offset</key>
                <string>{27,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,100},{139,69}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,382},{139,65}}</string>
                <key>offset</key>
                <string>{28,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,105},{139,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,458},{139,67}}</string>
                <key>offset</key>
                <string>{28,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,106},{139,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,389},{139,67}}</string>
                <key>offset</key>
                <string>{28,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,106},{139,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-死亡/愤怒牛魔-死亡0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,544},{139,67}}</string>
                <key>offset</key>
                <string>{28,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,106},{139,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,389},{125,93}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,61},{125,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,262},{125,93}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,64},{125,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,196},{127,91}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,67},{127,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{131,91}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,68},{131,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,97}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,68},{131,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,449},{127,93}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,66},{127,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,135},{125,93}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,63},{125,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{125,95}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,65},{125,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,101},{127,93}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,68},{127,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,289},{129,91}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,68},{129,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,298},{129,89}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{129,89}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>愤怒牛魔-行走/愤怒牛魔-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,516},{125,89}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,65},{125,89}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>愤怒牛魔.png</string>
            <key>size</key>
            <string>{510,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf364fb39ce5af4951e0162bdd0d807$</string>
            <key>textureFileName</key>
            <string>愤怒牛魔.png</string>
        </dict>
    </dict>
</plist>
