<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>凤凰/fh_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,2},{383,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,410}}</string>
                <key>sourceSize</key>
                <string>{383,410}</string>
            </dict>
            <key>凤凰/fh_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,412},{383,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,410}}</string>
                <key>sourceSize</key>
                <string>{383,410}</string>
            </dict>
            <key>凤凰/fh_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,412},{383,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,410}}</string>
                <key>sourceSize</key>
                <string>{383,410}</string>
            </dict>
            <key>凤凰/fh_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{383,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,410}}</string>
                <key>sourceSize</key>
                <string>{383,410}</string>
            </dict>
            <key>凤凰/fh_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{383,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,410}}</string>
                <key>sourceSize</key>
                <string>{383,410}</string>
            </dict>
            <key>凤凰/fh_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{383,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,410}}</string>
                <key>sourceSize</key>
                <string>{383,410}</string>
            </dict>
            <key>凤凰/fh_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2},{383,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,410}}</string>
                <key>sourceSize</key>
                <string>{383,410}</string>
            </dict>
            <key>凤凰/fh_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{383,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,410}}</string>
                <key>sourceSize</key>
                <string>{383,410}</string>
            </dict>
            <key>爆炸/boom_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1484},{592,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,536}}</string>
                <key>sourceSize</key>
                <string>{592,536}</string>
            </dict>
            <key>爆炸/boom_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1484},{592,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,536}}</string>
                <key>sourceSize</key>
                <string>{592,536}</string>
            </dict>
            <key>爆炸/boom_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{592,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,536}}</string>
                <key>sourceSize</key>
                <string>{592,536}</string>
            </dict>
            <key>爆炸/boom_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,412},{592,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,536}}</string>
                <key>sourceSize</key>
                <string>{592,536}</string>
            </dict>
            <key>爆炸/boom_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{592,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,536}}</string>
                <key>sourceSize</key>
                <string>{592,536}</string>
            </dict>
            <key>爆炸/boom_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,948},{592,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,536}}</string>
                <key>sourceSize</key>
                <string>{592,536}</string>
            </dict>
            <key>爆炸/boom_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,948},{592,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,536}}</string>
                <key>sourceSize</key>
                <string>{592,536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>技能_炎雀焚天.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97853ef156c6f25b5feae02cda2812e0$</string>
            <key>textureFileName</key>
            <string>技能_炎雀焚天.png</string>
        </dict>
    </dict>
</plist>
