<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000000000001ed3_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,86},{31,39}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{31,39}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,84},{31,43}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{31,43}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,68},{31,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{31,45}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{31,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{31,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{31,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,53},{31,47}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,53},{31,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{31,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,35},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{31,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,35},{31,47}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{31,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{31,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{31,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{31,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{31,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,51},{31,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{31,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{31,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{31,45}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{31,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{31,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{31,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>0000000000001ed3_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,49}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>技能_红莲业火.png</string>
            <key>size</key>
            <string>{254,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41d83539e533ea2900f693bd14e961c3$</string>
            <key>textureFileName</key>
            <string>技能_红莲业火.png</string>
        </dict>
    </dict>
</plist>
