<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{97,76}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,68},{97,76}}</string>
                <key>sourceSize</key>
                <string>{239,198}</string>
            </dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,618},{199,92}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,95},{199,92}}</string>
                <key>sourceSize</key>
                <string>{239,198}</string>
            </dict>
            <key>死亡/skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{131,126}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{131,126}}</string>
                <key>sourceSize</key>
                <string>{239,198}</string>
            </dict>
            <key>死亡/skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,174}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{171,174}}</string>
                <key>sourceSize</key>
                <string>{239,198}</string>
            </dict>
            <key>死亡/skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{163,132}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,44},{163,132}}</string>
                <key>sourceSize</key>
                <string>{239,198}</string>
            </dict>
            <key>死亡/skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1008},{175,86}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,96},{175,86}}</string>
                <key>sourceSize</key>
                <string>{239,198}</string>
            </dict>
            <key>死亡/skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,819},{187,88}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,95},{187,88}}</string>
                <key>sourceSize</key>
                <string>{239,198}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,471},{97,77}}</string>
                <key>offset</key>
                <string>{37,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,45},{97,77}}</string>
                <key>sourceSize</key>
                <string>{219,155}</string>
            </dict>
            <key>行走/skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{183,147}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{183,147}}</string>
                <key>sourceSize</key>
                <string>{219,155}</string>
            </dict>
            <key>行走/skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{199,145}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{199,145}}</string>
                <key>sourceSize</key>
                <string>{219,155}</string>
            </dict>
            <key>行走/skeleton-run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1185},{125,103}}</string>
                <key>offset</key>
                <string>{35,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,46},{125,103}}</string>
                <key>sourceSize</key>
                <string>{219,155}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{127,131}}</string>
                <key>offset</key>
                <string>{33,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,18},{127,131}}</string>
                <key>sourceSize</key>
                <string>{219,155}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{145,149}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,3},{145,149}}</string>
                <key>sourceSize</key>
                <string>{219,155}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{151,145}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,5},{151,145}}</string>
                <key>sourceSize</key>
                <string>{219,155}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{167,145}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{167,145}}</string>
                <key>sourceSize</key>
                <string>{219,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>拉面鬼.png</string>
            <key>size</key>
            <string>{256,1334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ad49bab5df57c64d5f33f207bc8ec2e$</string>
            <key>textureFileName</key>
            <string>拉面鬼.png</string>
        </dict>
    </dict>
</plist>
