<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,316},{77,87}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{77,87}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{81,107}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,46},{81,107}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{85,97}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,53},{85,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,122},{77,95}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,59},{77,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,344},{77,81}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,68},{77,81}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,405},{79,77}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,72},{79,77}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,83},{85,85}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{85,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,573},{79,85}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,64},{79,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,660},{73,85}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,64},{73,85}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,423},{73,77}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,73},{73,77}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,65}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,101},{155,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-死亡/旋风刀客-死亡0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{155,51}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,102},{155,51}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{93,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,64},{93,79}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{99,81}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,65},{99,81}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{99,79}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,65},{99,79}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{97,79}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,65},{97,79}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{95,79}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,63},{95,79}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,219},{95,81}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,60},{95,81}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,170},{87,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,61},{87,83}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,259},{83,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{83,83}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,486},{85,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,63},{85,81}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,498},{85,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{85,77}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,656},{85,75}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,66},{85,75}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>旋风刀客-行走/旋风刀客-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,577},{87,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,65},{87,77}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>旋风刀客.png</string>
            <key>size</key>
            <string>{254,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eb3aa2ddfe20b7fabb8ae2aa1be2c44$</string>
            <key>textureFileName</key>
            <string>旋风刀客.png</string>
        </dict>
    </dict>
</plist>
