<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{36,44}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,7},{36,44}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,90},{34,44}}</string>
                <key>offset</key>
                <string>{-34,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,54},{50,24}}</string>
                <key>offset</key>
                <string>{-63,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{50,24}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,45},{40,40}}</string>
                <key>offset</key>
                <string>{-41,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{40,38}}</string>
                <key>offset</key>
                <string>{-44,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{40,38}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,34},{42,34}}</string>
                <key>offset</key>
                <string>{-53,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{42,34}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,70},{46,26}}</string>
                <key>offset</key>
                <string>{-60,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{46,26}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{48,30}}</string>
                <key>offset</key>
                <string>{-61,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{48,30}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{50,24}}</string>
                <key>offset</key>
                <string>{-63,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{50,24}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,54},{50,24}}</string>
                <key>offset</key>
                <string>{-63,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{50,24}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,54},{50,24}}</string>
                <key>offset</key>
                <string>{-63,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{50,24}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,45},{39,43}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{39,43}}</string>
                <key>sourceSize</key>
                <string>{135,55}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,87},{39,41}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{39,41}}</string>
                <key>sourceSize</key>
                <string>{135,55}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,43}}</string>
                <key>offset</key>
                <string>{-46,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{41,43}}</string>
                <key>sourceSize</key>
                <string>{135,55}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{41,41}}</string>
                <key>offset</key>
                <string>{-45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{41,41}}</string>
                <key>sourceSize</key>
                <string>{135,55}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{41,41}}</string>
                <key>offset</key>
                <string>{-44,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,41}}</string>
                <key>sourceSize</key>
                <string>{135,55}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{41,41}}</string>
                <key>offset</key>
                <string>{-45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{41,41}}</string>
                <key>sourceSize</key>
                <string>{135,55}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,43}}</string>
                <key>offset</key>
                <string>{-46,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{41,43}}</string>
                <key>sourceSize</key>
                <string>{135,55}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,87},{39,41}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{39,41}}</string>
                <key>sourceSize</key>
                <string>{135,55}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,45},{39,43}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{39,43}}</string>
                <key>sourceSize</key>
                <string>{135,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>晴天鬼娃.png</string>
            <key>size</key>
            <string>{204,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e72e9b921a2b43715c1cc994f190ffa$</string>
            <key>textureFileName</key>
            <string>晴天鬼娃.png</string>
        </dict>
    </dict>
</plist>
