<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,2},{141,99}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,63},{141,99}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{139,99}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,62},{139,99}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,103},{135,103}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,58},{135,103}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,115},{133,107}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{133,107}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{129,113}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{129,113}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{129,117}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,43},{129,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,121},{125,125}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{125,125}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{129,129}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{129,129}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{125,135}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{125,135}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,141}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,25},{147,141}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{181,97}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,71},{181,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-死亡/晶石蜘蛛-死亡0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{185,97}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,71},{185,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{121,133}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,29},{121,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,133},{119,139}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,23},{119,139}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,125},{123,129}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{123,129}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{131,111}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,49},{131,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,115},{137,103}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,56},{137,103}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,139},{139,109}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{139,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,101},{135,129}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{135,129}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,101},{129,135}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{129,135}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,117},{123,127}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{123,127}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,115},{115,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,47},{115,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,115},{113,105}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,52},{113,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>晶石蜘蛛-行走/晶石蜘蛛-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,2},{119,111}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{119,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>晶石蜘蛛.png</string>
            <key>size</key>
            <string>{1649,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e8f37894294264b0eddd898eb5cfcc8$</string>
            <key>textureFileName</key>
            <string>晶石蜘蛛.png</string>
        </dict>
    </dict>
</plist>
