<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>暗夜射手-后羿-行走-武器0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{10,20}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,84},{10,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{10,18}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,87},{10,18}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{10,20}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,87},{10,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{10,18}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,87},{10,18}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{8,20}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,85},{8,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,24},{6,20}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,84},{6,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,24},{6,20}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,84},{6,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{6,24}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,83},{6,24}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{8,20}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{8,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,20}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,87},{10,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{10,18}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,86},{10,18}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>暗夜射手-后羿-行走-武器0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{8,20}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{8,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>暗夜射手-迦楼罗-行走-武器.png</string>
            <key>size</key>
            <string>{104,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8179fb38304f20220c37062a8de937bf$</string>
            <key>textureFileName</key>
            <string>暗夜射手-迦楼罗-行走-武器.png</string>
        </dict>
    </dict>
</plist>
