<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>图片_特效_酒剑仙_低级剑1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{15,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,60}}</string>
                <key>sourceSize</key>
                <string>{15,64}</string>
            </dict>
            <key>图片_特效_酒剑仙_低级剑2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,60}}</string>
                <key>sourceSize</key>
                <string>{15,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>桃木飞剑-低高.png</string>
            <key>size</key>
            <string>{19,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3e712b0399510410fc19987235d7126$</string>
            <key>textureFileName</key>
            <string>桃木飞剑-低高.png</string>
        </dict>
    </dict>
</plist>
