<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>武士青蛙-待机0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{99,69}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,70},{99,69}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,69}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,69},{101,69}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{101,67}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,70},{101,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{101,67}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,70},{101,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{101,67}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,70},{101,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{101,67}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,70},{101,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{101,65}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,72},{101,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{101,65}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,72},{101,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{101,65}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,72},{101,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{101,65}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,72},{101,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{101,65}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,72},{101,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{99,65}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,72},{99,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>武士青蛙-待机0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{52,36}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,34},{52,36}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>武士青蛙-待机.png</string>
            <key>size</key>
            <string>{105,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:473597fb3549bf73e520bf237cbe6df0$</string>
            <key>textureFileName</key>
            <string>武士青蛙-待机.png</string>
        </dict>
    </dict>
</plist>
