<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>毛球-待机0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{40,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{40,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{40,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{40,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{40,42}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{40,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{42,42}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{42,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{40,42}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,35},{40,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,44}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{40,44}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,44}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{40,44}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,44}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,34},{40,44}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{40,42}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{40,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{40,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{40,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{40,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{40,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>毛球-待机0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{40,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{40,42}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>毛球-待机.png</string>
            <key>size</key>
            <string>{508,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:942c288b80966dc392cb28b2034c1f5b$</string>
            <key>textureFileName</key>
            <string>毛球-待机.png</string>
        </dict>
    </dict>
</plist>
