<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pianfu-dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,180},{44,36}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,59},{44,36}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pianfu-dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,406},{44,38}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,56},{44,38}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pianfu-dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,43},{62,54}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pianfu-dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{84,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{84,78}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pianfu-dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{96,86}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pianfu-dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{94,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{94,88}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pianfu-dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,424},{26,28}}</string>
                <key>offset</key>
                <string>{28,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,44},{26,28}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pianfu-move_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,226},{42,36}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,37},{42,36}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>pianfu-move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,382},{40,36}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,33},{40,36}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>pianfu-move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,358},{46,40}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{46,40}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>pianfu-move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,270},{52,38}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{52,38}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>pianfu-move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,316},{30,64}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{30,64}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>pianfu-move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{48,54}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{48,54}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>pianfu-move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{54,42}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{54,42}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>pianfu-move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,310},{46,40}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,31},{46,40}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>洞穴蝙蝠.png</string>
            <key>size</key>
            <string>{126,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adcb56446b33a25f64357d03fafe7567$</string>
            <key>textureFileName</key>
            <string>洞穴蝙蝠.png</string>
        </dict>
    </dict>
</plist>
