<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huojingling-atk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,408},{66,92}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{66,92}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,211},{68,88}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,29},{68,88}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,230},{64,84}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,32},{64,84}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,296},{76,90}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{76,90}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{82,90}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{82,90}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{92,98}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{92,98}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{96,100}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{96,100}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{102,100}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,17},{102,100}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,102}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,14},{108,102}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{56,92}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,24},{56,92}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-atk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,244},{62,92}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,24},{62,92}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>huojingling-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,352},{67,88}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,34},{67,88}}</string>
                <key>sourceSize</key>
                <string>{93,130}</string>
            </dict>
            <key>huojingling-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,281},{69,88}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,33},{69,88}}</string>
                <key>sourceSize</key>
                <string>{93,130}</string>
            </dict>
            <key>huojingling-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,406},{71,94}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{71,94}}</string>
                <key>sourceSize</key>
                <string>{93,130}</string>
            </dict>
            <key>huojingling-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,308},{69,98}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{69,98}}</string>
                <key>sourceSize</key>
                <string>{93,130}</string>
            </dict>
            <key>huojingling-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{71,92}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{71,92}}</string>
                <key>sourceSize</key>
                <string>{93,130}</string>
            </dict>
            <key>huojingling-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,161},{67,78}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{67,78}}</string>
                <key>sourceSize</key>
                <string>{93,130}</string>
            </dict>
            <key>huojingling-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,94},{65,82}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{65,82}}</string>
                <key>sourceSize</key>
                <string>{93,130}</string>
            </dict>
            <key>huojingling-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,146},{63,64}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{63,64}}</string>
                <key>sourceSize</key>
                <string>{93,130}</string>
            </dict>
            <key>huojingling-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,421},{64,85}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,32},{64,85}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,353},{66,87}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{66,87}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,146},{64,91}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{64,91}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,145},{64,91}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{64,91}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,421},{64,83}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,34},{64,83}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,281},{70,87}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,30},{70,87}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,420},{72,91}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,27},{72,91}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,76},{70,97}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{70,97}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,148},{70,95}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{70,95}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{72,97}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{72,97}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{72,97}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{72,97}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,75},{68,99}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{68,99}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,354},{64,91}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{64,91}}</string>
                <key>sourceSize</key>
                <string>{94,121}</string>
            </dict>
            <key>huojingling-stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,352},{67,86}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,32},{67,86}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,281},{69,86}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,33},{69,86}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,287},{65,92}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,26},{65,92}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,220},{65,92}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{65,92}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,421},{65,84}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,34},{65,84}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,212},{67,88}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,30},{67,88}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,408},{67,92}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{67,92}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,104},{69,96}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{69,96}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,75},{69,96}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{69,96}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{71,98}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{71,98}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{71,98}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{71,98}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,175},{67,100}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{67,100}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>huojingling-stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,308},{65,96}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{65,96}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>火灵.png</string>
            <key>size</key>
            <string>{655,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45d6e13284e77bdafd7bf5680ab43f99$</string>
            <key>textureFileName</key>
            <string>火灵.png</string>
        </dict>
    </dict>
</plist>
