<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>高级/毒液/dy_loop_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,79}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,662},{92,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{92,97}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,568},{92,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{92,97}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,378},{92,99}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{92,99}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,284},{92,99}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{92,99}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{92,101}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{92,101}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,756},{92,95}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{92,95}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,190},{92,99}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{92,99}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,96},{92,99}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{92,99}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,472},{94,97}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{94,97}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{94,93}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{94,93}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,850},{94,93}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{94,93}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/毒液/dy_loop_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,974},{92,93}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{92,93}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>高级/药瓶/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,945},{43,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{43,40}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>火药瓶-灵蛇咒_高级.png</string>
            <key>size</key>
            <string>{242,1091}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deee345e83499d9aee9ebe7b6f4290a6$</string>
            <key>textureFileName</key>
            <string>火药瓶-灵蛇咒_高级.png</string>
        </dict>
    </dict>
</plist>
