<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{60,56}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{60,56}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{68,58}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{68,58}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1060},{44,56}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{44,56}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1002},{44,56}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{44,56}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,944},{44,56}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{44,56}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,886},{44,56}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{44,56}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1398},{52,48}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,45},{52,48}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1118},{62,32}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,61},{62,32}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,816},{68,32}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,62},{68,32}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1182},{68,28}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,66},{68,28}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1252},{66,28}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,66},{66,28}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{92,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{92,78}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{104,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{104,90}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{108,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{108,106}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{106,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{108,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{108,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{108,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{104,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>死亡/skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{98,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{98,98}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{57,56}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{57,56}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>行走/skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{59,56}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{59,56}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{59,56}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{59,56}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>行走/skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{59,56}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{59,56}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{59,56}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{59,56}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>行走/skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{61,56}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{61,56}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{61,56}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{61,56}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>行走/skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{59,56}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{59,56}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{59,56}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{59,56}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>爆炸骷髅.png</string>
            <key>size</key>
            <string>{112,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69c11f42160060c7634af8f35cee6f60$</string>
            <key>textureFileName</key>
            <string>爆炸骷髅.png</string>
        </dict>
    </dict>
</plist>
