<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,796},{32,29}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{32,29}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>skeleton-dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{62,53}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{62,53}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>skeleton-dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{102,97}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{102,97}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>skeleton-dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{112,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{112,103}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>skeleton-dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,103}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{116,103}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>skeleton-dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{116,101}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{116,101}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>skeleton-dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{98,63}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{98,63}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>skeleton-move_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{94,68}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{94,68}}</string>
                <key>sourceSize</key>
                <string>{108,102}</string>
            </dict>
            <key>skeleton-move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{82,80}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{82,80}}</string>
                <key>sourceSize</key>
                <string>{108,102}</string>
            </dict>
            <key>skeleton-move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{102,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{102,62}}</string>
                <key>sourceSize</key>
                <string>{108,102}</string>
            </dict>
            <key>skeleton-move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{84,62}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{84,62}}</string>
                <key>sourceSize</key>
                <string>{108,102}</string>
            </dict>
            <key>skeleton-move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{94,68}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{94,68}}</string>
                <key>sourceSize</key>
                <string>{108,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>狂暴狼王.png</string>
            <key>size</key>
            <string>{107,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87389e51b4696a041836f3f65a439404$</string>
            <key>textureFileName</key>
            <string>狂暴狼王.png</string>
        </dict>
    </dict>
</plist>
