<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>玉兔精-卜卜兔-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{61,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{61,69}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,73}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{63,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{61,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{61,71}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,150},{59,71}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{59,71}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,294},{57,69}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{57,69}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{57,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{57,69}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{57,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{57,69}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{57,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{57,71}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,77},{59,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{59,71}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,223},{59,69}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{59,69}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,365},{59,67}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{59,67}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>玉兔精-卜卜兔-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{61,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{61,69}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>玉兔精-卜卜兔-行走.png</string>
            <key>size</key>
            <string>{126,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bfce16a949a2f405458d44aab153837$</string>
            <key>textureFileName</key>
            <string>玉兔精-卜卜兔-行走.png</string>
        </dict>
    </dict>
</plist>
