<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>画魂-死亡/画魂-死亡0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{119,155}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,6},{119,155}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,2},{119,131}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,38},{119,131}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,2},{115,123}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,61},{115,123}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{119,97}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,87},{119,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{125,77}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,112},{125,77}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2},{125,79}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,116},{125,79}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{133,73}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,121},{133,73}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{135,65}}</string>
                <key>offset</key>
                <string>{-10,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,130},{135,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,55}}</string>
                <key>offset</key>
                <string>{-9,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,140},{133,55}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{131,55}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,140},{131,55}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{131,55}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,140},{131,55}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-死亡/画魂-死亡0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{131,55}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,140},{131,55}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,81},{131,141}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,19},{131,141}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,123},{131,139}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,19},{131,139}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,123},{131,137}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,20},{131,137}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,123},{131,133}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,23},{131,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{129,133}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,23},{129,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,119},{131,133}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,24},{131,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,101},{131,137}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,24},{131,137}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,83},{131,139}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,25},{131,139}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,59},{129,143}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,24},{129,143}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,77},{129,145}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,23},{129,145}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,69},{129,145}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,21},{129,145}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>画魂-行走/画魂-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,59},{129,145}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,19},{129,145}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>画魂.png</string>
            <key>size</key>
            <string>{1696,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99b390b0d62fd3c88ded8d47b0808c3e$</string>
            <key>textureFileName</key>
            <string>画魂.png</string>
        </dict>
    </dict>
</plist>
