<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>技能/skeleton-atk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,416},{94,96}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,25},{94,96}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>技能/skeleton-atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,416},{94,96}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,25},{94,96}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>技能/skeleton-atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,404},{82,106}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{82,106}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>技能/skeleton-atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,216},{102,108}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{102,108}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>技能/skeleton-atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,404},{102,98}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,23},{102,98}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>技能/skeleton-atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,304},{108,98}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{108,98}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{94,96}}</string>
                <key>offset</key>
                <string>{-30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{94,96}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>死亡/skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,320},{100,94}}</string>
                <key>offset</key>
                <string>{-35,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,94}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>死亡/skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{106,88}}</string>
                <key>offset</key>
                <string>{11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,40},{106,88}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>死亡/skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{112,84}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,38},{112,84}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>死亡/skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,216},{114,86}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,40},{114,86}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{129,105}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,7},{129,105}}</string>
                <key>sourceSize</key>
                <string>{201,119}</string>
            </dict>
            <key>行走/skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,109},{145,105}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,7},{145,105}}</string>
                <key>sourceSize</key>
                <string>{201,119}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{149,105}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{149,105}}</string>
                <key>sourceSize</key>
                <string>{201,119}</string>
            </dict>
            <key>行走/skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,109}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{163,109}}</string>
                <key>sourceSize</key>
                <string>{201,119}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{129,105}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,7},{129,105}}</string>
                <key>sourceSize</key>
                <string>{201,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>疯婆僵尸.png</string>
            <key>size</key>
            <string>{380,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a1d025955fbc456dd3b679ccb697a8f$</string>
            <key>textureFileName</key>
            <string>疯婆僵尸.png</string>
        </dict>
    </dict>
</plist>
