<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuloubin(s)-dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{44,59}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{44,59}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{44,59}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{44,59}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{64,35}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{64,35}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{64,35}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{64,35}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{64,35}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{64,35}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{44,59}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{44,59}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{44,75}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{44,75}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{44,59}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{44,59}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{50,43}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{50,43}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{56,45}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{56,45}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{62,35}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{62,35}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{64,35}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{64,35}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{64,35}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{64,35}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>kuloubin(s)-move_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{42,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>kuloubin(s)-move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{44,58}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,58}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>kuloubin(s)-move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{42,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>kuloubin(s)-move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{42,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>kuloubin(s)-move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{42,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>kuloubin(s)-move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>kuloubin(s)-move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,60}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>kuloubin(s)-move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{44,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,58}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>kuloubin(s)-move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{42,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>白骨小兵.png</string>
            <key>size</key>
            <string>{887,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02929a3ae1ed46a08fd208237746dba5$</string>
            <key>textureFileName</key>
            <string>白骨小兵.png</string>
        </dict>
    </dict>
</plist>
