<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangpugui-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,376},{100,88}}</string>
                <key>offset</key>
                <string>{44,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,32},{100,88}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,95},{108,90}}</string>
                <key>offset</key>
                <string>{36,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,32},{108,90}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,332},{134,64}}</string>
                <key>offset</key>
                <string>{-28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,73},{134,64}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,332},{134,64}}</string>
                <key>offset</key>
                <string>{-28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,73},{134,64}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,332},{134,64}}</string>
                <key>offset</key>
                <string>{-28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,73},{134,64}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{106,86}}</string>
                <key>offset</key>
                <string>{23,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,34},{106,86}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{86,130}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,2},{86,130}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,378},{126,68}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,72},{126,68}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,94}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{124,94}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{132,66}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,71},{132,66}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,332},{134,64}}</string>
                <key>offset</key>
                <string>{-28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,73},{134,64}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,332},{134,64}}</string>
                <key>offset</key>
                <string>{-28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,73},{134,64}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,332},{134,64}}</string>
                <key>offset</key>
                <string>{-28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,73},{134,64}}</string>
                <key>sourceSize</key>
                <string>{204,188}</string>
            </dict>
            <key>xiangpugui-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,278},{96,97}}</string>
                <key>offset</key>
                <string>{13,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{96,97}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,284},{92,97}}</string>
                <key>offset</key>
                <string>{12,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,3},{92,97}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,90},{110,91}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{110,91}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,183},{104,93}}</string>
                <key>offset</key>
                <string>{12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{104,93}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,187},{100,95}}</string>
                <key>offset</key>
                <string>{13,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{100,95}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,278},{96,97}}</string>
                <key>offset</key>
                <string>{13,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{96,97}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,398},{90,93}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{90,93}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,398},{84,91}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{84,91}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{86,93}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{86,93}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,238},{92,97}}</string>
                <key>offset</key>
                <string>{12,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,3},{92,97}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{96,99}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,1},{96,99}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,136},{100,97}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{100,97}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{104,95}}</string>
                <key>offset</key>
                <string>{13,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{104,95}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
            <key>xiangpugui-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{110,91}}</string>
                <key>offset</key>
                <string>{12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{110,91}}</string>
                <key>sourceSize</key>
                <string>{144,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>相扑妖.png</string>
            <key>size</key>
            <string>{449,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7edb23541d2fd9c774115383c7e725cb$</string>
            <key>textureFileName</key>
            <string>相扑妖.png</string>
        </dict>
    </dict>
</plist>
