<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>低级/xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>低级/xiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>低级/拖尾.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>低级/新.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>砖头-降魔杵_低级.png</string>
            <key>size</key>
            <string>{200,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74bb9d10491ac314e1f4c8fb76be9d0c$</string>
            <key>textureFileName</key>
            <string>砖头-降魔杵_低级.png</string>
        </dict>
    </dict>
</plist>
