<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,182},{54,54}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{54,54}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{94,90}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{94,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,126}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{132,126}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{100,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{100,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{102,114}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{102,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,130},{98,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{98,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,98},{82,88}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,35},{82,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>神剑受击.png</string>
            <key>size</key>
            <string>{330,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0ef1bd07b5c706926afa9aac9e75858$</string>
            <key>textureFileName</key>
            <string>神剑受击.png</string>
        </dict>
    </dict>
</plist>
