<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>低级/xiaceng_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,216},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,216},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,216},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,216},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,216},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,216},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,216},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>低级/xiaceng_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{212,212}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>立场发生器-护体金光_低级.png</string>
            <key>size</key>
            <string>{1714,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8467c539cde50b4f57d69252e839dec6$</string>
            <key>textureFileName</key>
            <string>立场发生器-护体金光_低级.png</string>
        </dict>
    </dict>
</plist>
