<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{79,100}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{79,100}}</string>
                <key>sourceSize</key>
                <string>{153,150}</string>
            </dict>
            <key>死亡/skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,2},{81,80}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,47},{81,80}}</string>
                <key>sourceSize</key>
                <string>{153,150}</string>
            </dict>
            <key>死亡/skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{129,64}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,75},{129,64}}</string>
                <key>sourceSize</key>
                <string>{153,150}</string>
            </dict>
            <key>死亡/skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,2},{133,64}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,78},{133,64}}</string>
                <key>sourceSize</key>
                <string>{153,150}</string>
            </dict>
            <key>跑步/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{96,116}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{96,116}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
            <key>跑步/skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{100,110}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{100,110}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
            <key>跑步/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{108,118}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,32},{108,118}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
            <key>跑步/skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{110,118}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{110,118}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
            <key>跑步/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,112}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{122,112}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
            <key>跑步/skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{112,120}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{112,120}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
            <key>跑步/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{106,126}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{106,126}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
            <key>跑步/skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{96,116}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,33},{96,116}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
            <key>跑步/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{94,108}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{94,108}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>紫色僵尸.png</string>
            <key>size</key>
            <string>{1479,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:309cfe879e82b1dcc64cb325cd011ba9$</string>
            <key>textureFileName</key>
            <string>紫色僵尸.png</string>
        </dict>
    </dict>
</plist>
