<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{87,100}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,111},{87,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{89,100}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,111},{89,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{91,100}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,111},{91,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,2},{87,100}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,111},{87,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{87,100}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,111},{87,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{89,100}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,111},{89,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{89,100}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,111},{89,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{93,100}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,111},{93,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{95,100}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,111},{95,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,100}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,111},{97,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{95,100}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,111},{95,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{93,100}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,111},{93,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
            <key>skeleton-stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{91,100}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,111},{91,100}}</string>
                <key>sourceSize</key>
                <string>{111,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>红衣新娘_行走.png</string>
            <key>size</key>
            <string>{1211,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57677bd3afa83f925f4ee13acb3870f1$</string>
            <key>textureFileName</key>
            <string>红衣新娘_行走.png</string>
        </dict>
    </dict>
</plist>
