<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,881},{128,77}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{128,77}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>死亡/skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{128,77}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,45},{128,77}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>死亡/skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,881},{128,85}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,38},{128,85}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>死亡/skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,792},{130,87}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{130,87}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>死亡/skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{140,111}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{140,111}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>死亡/skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,174},{160,117}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{160,117}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>死亡/skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{170,117}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,24},{170,117}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>死亡/skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{174,77}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,68},{174,77}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>死亡/skeleton-die_8本.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,77}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,68},{174,77}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>死亡/skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{172,77}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,67},{172,77}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>行走/skeleton-run2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{131,78}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{131,78}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>行走/skeleton-run2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{129,80}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,18},{129,80}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>行走/skeleton-run2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,614},{137,94}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{137,94}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>行走/skeleton-run2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,710},{133,80}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{133,80}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>行走/skeleton-run2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{133,88}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{133,88}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>行走/skeleton-run2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,520},{139,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{139,92}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>行走/skeleton-run2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{147,88}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{147,88}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>行走/skeleton-run2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{147,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{147,92}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>行走/skeleton-run2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,430},{145,88}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{145,88}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>行走/skeleton-run2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{145,94}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{145,94}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>行走/skeleton-run2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,336},{141,92}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{141,92}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>红色尸鳖虫.png</string>
            <key>size</key>
            <string>{297,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c73ca93cfbef20fcc3ac2e3b8d1d92d$</string>
            <key>textureFileName</key>
            <string>红色尸鳖虫.png</string>
        </dict>
    </dict>
</plist>
