<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,118},{57,65}}</string>
                <key>offset</key>
                <string>{24,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,1},{57,65}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,427},{75,61}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{75,61}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,31}}</string>
                <key>offset</key>
                <string>{18,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,70},{43,31}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,31}}</string>
                <key>offset</key>
                <string>{18,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,70},{43,31}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,31}}</string>
                <key>offset</key>
                <string>{18,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,70},{43,31}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{83,53}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{83,53}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,186},{85,47}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{85,47}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{83,41}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,59},{83,41}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{83,39}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,57},{83,39}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,45},{89,41}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,60},{89,41}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{89,41}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,60},{89,41}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{85,43}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,58},{85,43}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,45},{71,45}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,56},{71,45}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,177},{57,64}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{57,64}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,341},{69,62}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{69,62}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,136},{81,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{81,48}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,235},{83,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{83,50}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{81,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{81,54}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,427},{79,56}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{79,56}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{71,58}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{71,58}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,243},{65,62}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{65,62}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,177},{57,64}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{57,64}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,307},{75,60}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{75,60}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{79,58}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{79,58}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,369},{77,56}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{77,56}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,287},{77,52}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{77,52}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{75,50}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{75,50}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{75,48}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{75,48}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,88},{73,46}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{73,46}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skeleton-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{77,46}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{77,46}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>花灵虫.png</string>
            <key>size</key>
            <string>{231,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57edf3fdc3686f43ec0406bd4b46a027$</string>
            <key>textureFileName</key>
            <string>花灵虫.png</string>
        </dict>
    </dict>
</plist>
