<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,373},{86,84}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{86,84}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,461},{82,82}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,56}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{148,56}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,56}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{148,56}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,56}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{148,56}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{76,78}}</string>
                <key>offset</key>
                <string>{-27,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,34},{76,78}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,512},{76,76}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{76,76}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{144,56}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{144,56}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{144,56}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{144,56}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{146,56}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{146,56}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,56}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{148,56}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,56}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{148,56}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,56}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{148,56}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{92,85}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{92,85}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{94,85}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{94,85}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,98},{92,87}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{92,87}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,192},{90,89}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{90,89}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,179},{84,89}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{84,89}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,283},{88,89}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{88,89}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,89},{88,89}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{88,89}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{94,87}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{94,87}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{92,85}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{92,85}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>蛇妇妖.png</string>
            <key>size</key>
            <string>{255,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51cda54bb6b38039ac349738ebabff35$</string>
            <key>textureFileName</key>
            <string>蛇妇妖.png</string>
        </dict>
    </dict>
</plist>
