<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{90,108}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{90,108}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{90,108}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{90,108}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{90,108}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{90,108}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{88,108}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,50},{88,108}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{90,108}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{90,108}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{86,108}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,50},{86,108}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,48},{82,110}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{78,110}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,48},{78,110}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{80,110}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,48},{80,110}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{78,110}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,48},{78,110}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,48},{82,110}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>skeleton-stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{86,108}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,50},{86,108}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>蛇妖姬_行走.png</string>
            <key>size</key>
            <string>{1046,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b60e5ac2c506065428a4ba71d4549048$</string>
            <key>textureFileName</key>
            <string>蛇妖姬_行走.png</string>
        </dict>
    </dict>
</plist>
