<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1638},{112,112}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,80},{112,112}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{160,170}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,52},{160,170}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1954},{78,96}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,78},{78,96}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{78,96}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,78},{78,96}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1954},{78,96}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,78},{78,96}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1752},{112,58}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,116},{112,58}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1486},{128,54}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,120},{128,54}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1812},{142,42}}</string>
                <key>offset</key>
                <string>{-21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,133},{142,42}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1902},{150,44}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,131},{150,44}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1856},{150,44}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,131},{150,44}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1622},{208,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,51},{208,168}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{238,206}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{238,206}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{238,240}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{238,240}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{244,244}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{244,244}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,244}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{244,244}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{240,238}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{240,238}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{226,226}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{226,226}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{212,210}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{212,210}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,476},{114,96}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{114,96}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1386},{114,98}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{114,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1286},{114,98}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{114,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1186},{114,98}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{114,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1070},{114,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{114,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,360},{114,96}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{114,96}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,244},{114,96}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{114,96}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1542},{116,94}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{116,94}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{120,96}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{120,96}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,832},{118,98}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{118,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,712},{118,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{118,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,592},{118,98}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{118,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,124},{118,96}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{118,96}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>skeleton-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,952},{116,98}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{116,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>血爆骷髅.png</string>
            <key>size</key>
            <string>{346,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab26f2959ffd3301df487293c8a42824$</string>
            <key>textureFileName</key>
            <string>血爆骷髅.png</string>
        </dict>
    </dict>
</plist>
