<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,280},{69,66}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,68},{69,66}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,280},{69,66}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,68},{69,66}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{193,72}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,73},{193,72}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{193,72}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,73},{193,72}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,348},{205,56}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,94},{205,56}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,348},{205,56}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,94},{205,56}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,471},{93,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,42},{93,92}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,471},{93,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,42},{93,92}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,348},{121,94}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,42},{121,94}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{159,108}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{159,108}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{159,108}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{159,108}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{165,114}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,27},{165,114}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,118}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{177,118}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,118}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{177,118}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{73,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{73,66}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,77},{71,66}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{71,66}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,216},{73,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{73,62}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{67,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{67,64}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,150},{73,64}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{73,64}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{73,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{73,66}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>血蜘蛛.png</string>
            <key>size</key>
            <string>{249,609}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:384ff5416b0ab161f9cb7d54490bbc69$</string>
            <key>textureFileName</key>
            <string>血蜘蛛.png</string>
        </dict>
    </dict>
</plist>
