<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>高级/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>足球-法盘_高级.png</string>
            <key>size</key>
            <string>{51,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f087cbc5b0e0aecc13ef35ee83579fb5$</string>
            <key>textureFileName</key>
            <string>足球-法盘_高级.png</string>
        </dict>
    </dict>
</plist>
