<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1848},{88,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{88,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1848},{74,160}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{74,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>baichiyan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{172,136}}</string>
                <key>offset</key>
                <string>{33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,3},{172,136}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
            <key>baichiyan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{190,138}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,1},{190,138}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
            <key>baichiyan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{180,138}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,1},{180,138}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
            <key>baichiyan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{182,138}}</string>
                <key>offset</key>
                <string>{29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,1},{182,138}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
            <key>baichiyan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,138}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,1},{190,138}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
            <key>baichiyan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{172,138}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,1},{172,138}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
            <key>baichiyan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{182,138}}</string>
                <key>offset</key>
                <string>{29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,1},{182,138}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
            <key>baichiyan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{176,136}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,3},{176,136}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
            <key>baichiyan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{178,136}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,3},{178,136}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
            <key>baichiyan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{184,136}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,3},{184,136}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>远程剑气（紫色刀）.png</string>
            <key>size</key>
            <string>{176,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f89abff03b361ec333fc765c7baa69$</string>
            <key>textureFileName</key>
            <string>远程剑气（紫色刀）.png</string>
        </dict>
    </dict>
</plist>
