<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1772},{360,234}}</string>
                <key>offset</key>
                <string>{36,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,40},{360,234}}</string>
                <key>sourceSize</key>
                <string>{470,288}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{360,240}}</string>
                <key>offset</key>
                <string>{43,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,35},{360,240}}</string>
                <key>sourceSize</key>
                <string>{470,288}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{370,246}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,28},{370,246}}</string>
                <key>sourceSize</key>
                <string>{470,288}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{394,274}}</string>
                <key>offset</key>
                <string>{30,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{394,274}}</string>
                <key>sourceSize</key>
                <string>{470,288}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{408,268}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{408,268}}</string>
                <key>sourceSize</key>
                <string>{470,288}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{416,256}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{416,256}}</string>
                <key>sourceSize</key>
                <string>{470,288}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,238}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,36},{436,238}}</string>
                <key>sourceSize</key>
                <string>{470,288}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{388,234}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,40},{388,234}}</string>
                <key>sourceSize</key>
                <string>{470,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>邪骨战神-行走.png</string>
            <key>size</key>
            <string>{440,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2a40115a26456ce2e66fc43c42a5679$</string>
            <key>textureFileName</key>
            <string>邪骨战神-行走.png</string>
        </dict>
    </dict>
</plist>
