<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,851},{223,221}}</string>
                <key>offset</key>
                <string>{20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,259},{223,221}}</string>
                <key>sourceSize</key>
                <string>{477,649}</string>
            </dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,557}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,35},{367,557}}</string>
                <key>sourceSize</key>
                <string>{477,649}</string>
            </dict>
            <key>死亡/skeleton-die_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{351,343}}</string>
                <key>offset</key>
                <string>{1,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,234},{351,343}}</string>
                <key>sourceSize</key>
                <string>{477,649}</string>
            </dict>
            <key>死亡/skeleton-die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{359,351}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,229},{359,351}}</string>
                <key>sourceSize</key>
                <string>{477,649}</string>
            </dict>
            <key>死亡/skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,724},{233,349}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,150},{233,349}}</string>
                <key>sourceSize</key>
                <string>{477,649}</string>
            </dict>
            <key>死亡/skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{395,445}}</string>
                <key>offset</key>
                <string>{-17,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,53},{395,445}}</string>
                <key>sourceSize</key>
                <string>{477,649}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1075},{221,224}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{221,224}}</string>
                <key>sourceSize</key>
                <string>{251,252}</string>
            </dict>
            <key>行走/skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,399},{233,212}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{233,212}}</string>
                <key>sourceSize</key>
                <string>{251,252}</string>
            </dict>
            <key>行走/skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1074},{229,216}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{229,216}}</string>
                <key>sourceSize</key>
                <string>{251,252}</string>
            </dict>
            <key>行走/skeleton-run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,631},{225,218}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{225,218}}</string>
                <key>sourceSize</key>
                <string>{251,252}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,399},{225,230}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{225,230}}</string>
                <key>sourceSize</key>
                <string>{251,252}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1077},{229,218}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{229,218}}</string>
                <key>sourceSize</key>
                <string>{251,252}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,399},{233,216}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{233,216}}</string>
                <key>sourceSize</key>
                <string>{251,252}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{237,220}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{237,220}}</string>
                <key>sourceSize</key>
                <string>{251,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>酒吞童子.png</string>
            <key>size</key>
            <string>{1023,1299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:366c3fc46ccbd39375e24e5c83ec8834$</string>
            <key>textureFileName</key>
            <string>酒吞童子.png</string>
        </dict>
    </dict>
</plist>
