<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>酒剑侠-陆天涯-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{56,66}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{56,66}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{58,66}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{58,66}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{60,64}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{60,64}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{60,64}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{60,64}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,64}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{60,64}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{58,66}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{58,66}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{56,66}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{56,66}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{54,66}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{54,66}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{54,64}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{54,64}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{54,64}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{54,64}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{54,64}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{54,64}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>酒剑侠-陆天涯-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{56,66}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{56,66}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>酒剑侠-陆天涯-行走.png</string>
            <key>size</key>
            <string>{64,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe0efc5506eb81c0ed4b5f64d4ded619$</string>
            <key>textureFileName</key>
            <string>酒剑侠-陆天涯-行走.png</string>
        </dict>
    </dict>
</plist>
