<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/野猪-死亡0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,48}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,30},{54,48}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>死亡/野猪-死亡0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{48,44}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{48,44}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>死亡/野猪-死亡0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{48,44}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{48,44}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>死亡/野猪-死亡0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{48,44}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,41},{48,44}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>死亡/野猪-死亡0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{48,44}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{48,44}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>死亡/野猪-死亡0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{48,44}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{48,44}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>行走/野猪-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{48,48}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{48,48}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>行走/野猪-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{50,48}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,31},{50,48}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>行走/野猪-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{46,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{46,50}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>行走/野猪-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{46,48}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{46,48}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>行走/野猪-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{50,46}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,32},{50,46}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>行走/野猪-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{48,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{48,50}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>野猪.png</string>
            <key>size</key>
            <string>{52,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bf1cd355804afa226fa1d8577297beb$</string>
            <key>textureFileName</key>
            <string>野猪.png</string>
        </dict>
    </dict>
</plist>
