<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-atk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{124,132}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{124,132}}</string>
                <key>sourceSize</key>
                <string>{242,222}</string>
            </dict>
            <key>skeleton-atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{132,130}}</string>
                <key>offset</key>
                <string>{-42,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{132,130}}</string>
                <key>sourceSize</key>
                <string>{242,222}</string>
            </dict>
            <key>skeleton-atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,358},{118,136}}</string>
                <key>offset</key>
                <string>{-59,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{118,136}}</string>
                <key>sourceSize</key>
                <string>{242,222}</string>
            </dict>
            <key>skeleton-atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,144},{100,146}}</string>
                <key>offset</key>
                <string>{-71,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,146}}</string>
                <key>sourceSize</key>
                <string>{242,222}</string>
            </dict>
            <key>skeleton-atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{154,140}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{154,140}}</string>
                <key>sourceSize</key>
                <string>{242,222}</string>
            </dict>
            <key>skeleton-atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{178,162}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,27},{178,162}}</string>
                <key>sourceSize</key>
                <string>{242,222}</string>
            </dict>
            <key>skeleton-atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,168}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,25},{176,168}}</string>
                <key>sourceSize</key>
                <string>{242,222}</string>
            </dict>
            <key>skeleton-atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,246},{110,142}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,28},{110,142}}</string>
                <key>sourceSize</key>
                <string>{242,222}</string>
            </dict>
            <key>skeleton-atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{124,132}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{124,132}}</string>
                <key>sourceSize</key>
                <string>{242,222}</string>
            </dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,358},{123,132}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{123,132}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,133},{123,128}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{123,128}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,259},{121,124}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{121,124}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,382},{123,124}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{123,124}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,383},{123,124}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,124}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,382},{121,124}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{121,124}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,254},{121,88}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{121,88}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,256},{121,80}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{121,80}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,133},{121,132}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{121,132}}</string>
                <key>sourceSize</key>
                <string>{127,148}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,258},{121,130}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{121,130}}</string>
                <key>sourceSize</key>
                <string>{127,148}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,369},{125,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{125,130}}</string>
                <key>sourceSize</key>
                <string>{127,148}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,257},{123,130}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{123,130}}</string>
                <key>sourceSize</key>
                <string>{127,148}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{125,132}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,132}}</string>
                <key>sourceSize</key>
                <string>{127,148}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,133},{119,136}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{119,136}}</string>
                <key>sourceSize</key>
                <string>{127,148}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,254},{113,136}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{113,136}}</string>
                <key>sourceSize</key>
                <string>{127,148}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,133},{119,134}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{119,134}}</string>
                <key>sourceSize</key>
                <string>{127,148}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,133},{121,132}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{121,132}}</string>
                <key>sourceSize</key>
                <string>{127,148}</string>
            </dict>
            <key>skeleton-stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,133},{122,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,128},{126,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,259},{122,129}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{122,129}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,256},{124,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{124,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,133},{122,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{130,129}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,129}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{132,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,129}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{132,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,129}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{132,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{132,129}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{132,129}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{132,129}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,129},{128,129}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{128,129}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,381},{126,129}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{126,129}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>skeleton-stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,383},{124,129}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{124,129}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>金銮尸王.png</string>
            <key>size</key>
            <string>{1338,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55a905e248706a036bef1a7e9ad8edc3$</string>
            <key>textureFileName</key>
            <string>金銮尸王.png</string>
        </dict>
    </dict>
</plist>
