<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>金鱼-行走/金鱼-行走0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{48,58}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{48,58}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{46,56}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{46,56}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{48,54}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{48,54}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{48,54}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{48,54}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{50,58}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{50,58}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,58}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{52,58}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,58}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{52,58}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{52,56}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{52,56}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{52,56}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{52,56}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{50,56}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{50,56}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{50,58}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{50,58}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>金鱼-行走/金鱼-行走0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{48,58}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{48,58}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>金鱼.png</string>
            <key>size</key>
            <string>{622,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb51fed378bbd75081cfc463db035bdf$</string>
            <key>textureFileName</key>
            <string>金鱼.png</string>
        </dict>
    </dict>
</plist>
