<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{85,95}}</string>
                <key>offset</key>
                <string>{-36,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{85,95}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{91,95}}</string>
                <key>offset</key>
                <string>{-35,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{91,95}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,97}}</string>
                <key>offset</key>
                <string>{-33,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{97,97}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{103,95}}</string>
                <key>offset</key>
                <string>{-34,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{103,95}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{137,81}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{137,81}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{141,79}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,40},{141,79}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{139,83}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,49},{139,83}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{139,83}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,49},{139,83}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{139,83}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,49},{139,83}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{87,94}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{87,94}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{87,92}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{87,92}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{87,90}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{87,90}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{89,96}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{89,96}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{91,96}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{91,96}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{89,96}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{89,96}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{89,96}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{89,96}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{87,94}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{87,94}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{87,94}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{87,94}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>铜尸喽啰.png</string>
            <key>size</key>
            <string>{1531,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be8a3deec4c5dc4078dabeffbbaec2ab$</string>
            <key>textureFileName</key>
            <string>铜尸喽啰.png</string>
        </dict>
    </dict>
</plist>
