<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-atk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,130},{61,62}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{61,62}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,68},{61,62}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{61,62}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,68},{65,60}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{65,60}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,68},{61,62}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{61,62}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,62}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{87,62}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{83,60}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{83,60}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{77,64}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{77,64}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{73,64}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,64}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{71,64}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{71,64}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{67,64}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,64}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{67,64}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,64}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-atk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{67,64}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,64}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,128},{60,64}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{60,64}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,130},{62,56}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{62,56}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{78,46}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{78,46}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{80,34}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{80,34}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{80,30}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{80,30}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,38},{78,28}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,38},{78,28}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,62},{78,26}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,40},{78,26}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,34},{78,26}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,40},{78,26}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,68},{78,26}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,40},{78,26}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,68},{62,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{62,56}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,132},{56,60}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{56,60}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,190},{54,62}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{54,62}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,132},{54,60}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{54,60}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,68},{58,60}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{58,60}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,194},{62,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{62,58}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{68,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{68,58}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{72,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{72,54}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,190},{57,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,62}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,190},{57,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,62}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,190},{59,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,68},{59,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,190},{59,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,190},{59,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,190},{59,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,190},{59,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,190},{57,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,62}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>skeleton-stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,114},{59,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,126},{59,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,62},{59,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,114},{59,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,131},{57,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,131},{57,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,125},{55,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,68},{55,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,58},{55,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,194},{57,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,194},{57,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>skeleton-stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,50},{59,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>铜尸射手.png</string>
            <key>size</key>
            <string>{780,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84383c460b643d3017bb0ae849a98f01$</string>
            <key>textureFileName</key>
            <string>铜尸射手.png</string>
        </dict>
    </dict>
</plist>
