<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-atk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,791},{76,77}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,23},{76,77}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,426},{78,77}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,23},{78,77}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,712},{76,77}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,23},{76,77}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,780},{80,77}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,23},{80,77}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,528},{82,75}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,24},{82,75}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,552},{86,79}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,23},{86,79}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{118,79}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,22},{118,79}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{140,79}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,22},{140,79}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{136,79}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,20},{136,79}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,341},{92,77}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,22},{92,77}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-atk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,162},{94,77}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{94,77}}</string>
                <key>sourceSize</key>
                <string>{190,141}</string>
            </dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,83},{76,77}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,46},{76,77}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,669},{80,77}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,46},{80,77}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,396},{84,77}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{84,77}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,241},{88,75}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,46},{88,75}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{88,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{88,95}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{102,119}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{102,119}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,119}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{120,119}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,751},{79,77}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,31},{79,77}}</string>
                <key>sourceSize</key>
                <string>{157,159}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,633},{79,77}}</string>
                <key>offset</key>
                <string>{19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,31},{79,77}}</string>
                <key>sourceSize</key>
                <string>{157,159}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,475},{83,75}}</string>
                <key>offset</key>
                <string>{20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,32},{83,75}}</string>
                <key>sourceSize</key>
                <string>{157,159}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,900},{87,77}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,31},{87,77}}</string>
                <key>sourceSize</key>
                <string>{157,159}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,335},{89,77}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,30},{89,77}}</string>
                <key>sourceSize</key>
                <string>{157,159}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,244},{95,75}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,31},{95,75}}</string>
                <key>sourceSize</key>
                <string>{157,159}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,83},{97,77}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{97,77}}</string>
                <key>sourceSize</key>
                <string>{157,159}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{99,79}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,32},{99,79}}</string>
                <key>sourceSize</key>
                <string>{157,159}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,909},{79,75}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{79,75}}</string>
                <key>sourceSize</key>
                <string>{157,159}</string>
            </dict>
            <key>skeleton-stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,870},{75,76}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,32},{75,76}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,506},{77,76}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,31},{77,76}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{97,80}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,29},{97,80}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{99,80}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,31},{99,80}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,832},{75,76}}</string>
                <key>offset</key>
                <string>{19,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,31},{75,76}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,697},{81,76}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,30},{81,76}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,584},{83,76}}</string>
                <key>offset</key>
                <string>{17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,29},{83,76}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,612},{83,76}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,28},{83,76}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,318},{85,76}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,28},{85,76}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,242},{91,76}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{91,76}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,435},{91,76}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,27},{91,76}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{93,76}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{93,76}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skeleton-stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,162},{95,78}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{95,78}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>雪童子.png</string>
            <key>size</key>
            <string>{328,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:195cd81928206dcc464d4706b2871aec$</string>
            <key>textureFileName</key>
            <string>雪童子.png</string>
        </dict>
    </dict>
</plist>
