<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{84,92}}</string>
                <key>offset</key>
                <string>{-12,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,147},{84,92}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,392},{74,116}}</string>
                <key>offset</key>
                <string>{-14,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,136},{74,116}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{74,198}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,55},{74,198}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,196},{48,190}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,51},{48,190}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,186},{46,182}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{46,182}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{44,178}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,54},{44,178}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,451},{38,76}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,128},{38,76}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,182},{38,40}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,164},{38,40}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{20,40}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,164},{20,40}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,496},{6,40}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,164},{6,40}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,496},{6,40}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,164},{6,40}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{98,180}}</string>
                <key>offset</key>
                <string>{-16,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,80},{98,180}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{96,182}}</string>
                <key>offset</key>
                <string>{-16,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,77},{96,182}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,398},{96,186}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,73},{96,186}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,196},{94,188}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,71},{94,188}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{94,192}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,67},{94,192}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,202},{94,194}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,64},{94,194}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{92,198}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,60},{92,198}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,200}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,58},{92,200}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,276},{83,86}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,50},{83,86}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,361},{83,88}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{83,88}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,276},{83,86}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,50},{83,86}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,343},{83,88}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,48},{83,88}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,173},{83,90}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,47},{83,90}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,94},{83,90}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,49},{83,90}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,88},{83,90}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,50},{83,90}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{83,90}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{83,90}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,428},{81,88}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,48},{81,88}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,258},{83,88}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,48},{83,88}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>skeleton-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,186},{83,88}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{83,88}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>青坊主.png</string>
            <key>size</key>
            <string>{627,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5a42797101a9d4675f3f49b24d22aff$</string>
            <key>textureFileName</key>
            <string>青坊主.png</string>
        </dict>
    </dict>
</plist>
