<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{57,86}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{57,86}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,62},{51,86}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{51,86}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,68},{49,86}}</string>
                <key>offset</key>
                <string>{-28,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{49,86}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,61},{63,84}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{63,84}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,54}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{105,54}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{99,56}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,46},{99,56}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{97,52}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,47},{97,52}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{97,52}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,47},{97,52}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{97,52}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,47},{97,52}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,64},{60,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{60,83}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{58,85}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{58,85}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{64,85}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{64,85}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{64,85}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{64,85}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,60},{64,89}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{64,89}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,60},{64,85}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{64,85}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{66,83}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{66,83}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{60,83}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{60,83}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{58,83}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{58,83}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>风灵僵尸.png</string>
            <key>size</key>
            <string>{807,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:311a3226ce7f440bd4d45d4532516cc3$</string>
            <key>textureFileName</key>
            <string>风灵僵尸.png</string>
        </dict>
    </dict>
</plist>
