<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>技能/skeleton-atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{236,164}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,37},{236,164}}</string>
                <key>sourceSize</key>
                <string>{340,228}</string>
            </dict>
            <key>技能/skeleton-atk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,264},{250,174}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,32},{250,174}}</string>
                <key>sourceSize</key>
                <string>{340,228}</string>
            </dict>
            <key>技能/skeleton-atk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{250,176}}</string>
                <key>offset</key>
                <string>{29,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,30},{250,176}}</string>
                <key>sourceSize</key>
                <string>{340,228}</string>
            </dict>
            <key>技能/skeleton-atk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{260,178}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,23},{260,178}}</string>
                <key>sourceSize</key>
                <string>{340,228}</string>
            </dict>
            <key>技能/skeleton-atk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,178}}</string>
                <key>offset</key>
                <string>{34,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,23},{266,178}}</string>
                <key>sourceSize</key>
                <string>{340,228}</string>
            </dict>
            <key>技能/skeleton-atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1296},{172,150}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,49},{172,150}}</string>
                <key>sourceSize</key>
                <string>{340,228}</string>
            </dict>
            <key>技能/skeleton-atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{146,164}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{146,164}}</string>
                <key>sourceSize</key>
                <string>{340,228}</string>
            </dict>
            <key>技能/skeleton-atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{184,150}}</string>
                <key>offset</key>
                <string>{-74,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,46},{184,150}}</string>
                <key>sourceSize</key>
                <string>{340,228}</string>
            </dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,948},{186,164}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,50},{186,164}}</string>
                <key>sourceSize</key>
                <string>{246,274}</string>
            </dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,440},{182,80}}</string>
                <key>offset</key>
                <string>{22,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,146},{182,80}}</string>
                <key>sourceSize</key>
                <string>{246,274}</string>
            </dict>
            <key>死亡/skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,948},{184,166}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,57},{184,166}}</string>
                <key>sourceSize</key>
                <string>{246,274}</string>
            </dict>
            <key>死亡/skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{204,156}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,65},{204,156}}</string>
                <key>sourceSize</key>
                <string>{246,274}</string>
            </dict>
            <key>死亡/skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,792},{204,154}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,72},{204,154}}</string>
                <key>sourceSize</key>
                <string>{246,274}</string>
            </dict>
            <key>死亡/skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,626},{216,108}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,118},{216,108}}</string>
                <key>sourceSize</key>
                <string>{246,274}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{184,148}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,49},{184,148}}</string>
                <key>sourceSize</key>
                <string>{210,206}</string>
            </dict>
            <key>行走/skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,626},{196,164}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{196,164}}</string>
                <key>sourceSize</key>
                <string>{210,206}</string>
            </dict>
            <key>行走/skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{196,166}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{196,166}}</string>
                <key>sourceSize</key>
                <string>{210,206}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1286},{178,152}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{178,152}}</string>
                <key>sourceSize</key>
                <string>{210,206}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1136},{176,158}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{176,158}}</string>
                <key>sourceSize</key>
                <string>{210,206}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1116},{176,168}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{176,168}}</string>
                <key>sourceSize</key>
                <string>{210,206}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,440},{184,184}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{184,184}}</string>
                <key>sourceSize</key>
                <string>{210,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>马面.png</string>
            <key>size</key>
            <string>{508,1448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a23ad70636e4bd8ac2c5d4b9281bf005$</string>
            <key>textureFileName</key>
            <string>马面.png</string>
        </dict>
    </dict>
</plist>
