<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-atk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,90},{59,86}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{59,86}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,90},{77,86}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{77,86}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,155},{73,72}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{73,72}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,164},{71,74}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,29},{71,74}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,174},{71,74}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,29},{71,74}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{71,76}}</string>
                <key>offset</key>
                <string>{-38,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{71,76}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,178},{69,78}}</string>
                <key>offset</key>
                <string>{-36,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{69,78}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{67,80}}</string>
                <key>offset</key>
                <string>{-33,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{67,80}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{65,84}}</string>
                <key>offset</key>
                <string>{-31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{65,84}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{63,86}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{63,86}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{59,86}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{59,86}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{85,86}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{85,86}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,90},{83,84}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{83,84}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,178},{69,76}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,31},{69,76}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,178},{69,80}}</string>
                <key>offset</key>
                <string>{-35,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{69,80}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,178},{67,80}}</string>
                <key>offset</key>
                <string>{-35,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,34},{67,80}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,84},{67,78}}</string>
                <key>offset</key>
                <string>{-35,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{67,78}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{67,76}}</string>
                <key>offset</key>
                <string>{-36,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{67,76}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-atk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,80},{73,72}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,31},{73,72}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,90},{66,86}}</string>
                <key>offset</key>
                <string>{-28,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{66,86}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,176},{72,80}}</string>
                <key>offset</key>
                <string>{-33,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{72,80}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,42}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,52},{120,42}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,42}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,52},{120,42}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,42}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,52},{120,42}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,178},{70,72}}</string>
                <key>offset</key>
                <string>{-39,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{70,72}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,174},{74,72}}</string>
                <key>offset</key>
                <string>{-38,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{74,72}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,116},{104,50}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,52},{104,50}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{112,44}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,49},{112,44}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,42}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,52},{120,42}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,42}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,52},{120,42}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,42}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,52},{120,42}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,42}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,52},{120,42}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>skeleton-stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,88},{58,84}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,84}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>skeleton-stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{58,84}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,84}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>skeleton-stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,88},{58,84}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,84}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>skeleton-stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,88},{58,84}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,84}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>skeleton-stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,90},{58,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>skeleton-stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{56,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>skeleton-stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{58,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>skeleton-stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,90},{58,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>skeleton-stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{58,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>skeleton-stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{58,84}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,84}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>skeleton-stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,88},{58,84}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,84}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>鬼巫射手.png</string>
            <key>size</key>
            <string>{884,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b379c27985926ab12e84804ff69b75b0$</string>
            <key>textureFileName</key>
            <string>鬼巫射手.png</string>
        </dict>
    </dict>
</plist>
