<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,160},{150,156}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{150,156}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,160},{144,156}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{144,156}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,158},{144,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{144,154}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,314},{146,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{146,154}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{156,158}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{156,158}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,160}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{156,160}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{156,156}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{156,156}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{154,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,322},{154,156}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{154,156}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{150,160}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{150,160}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,322},{144,158}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{144,158}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,162},{140,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{140,158}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>skeleton-stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,164},{148,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{146,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{146,156}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,160},{146,156}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,318},{144,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,156}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,318},{146,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,162},{146,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{146,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,164},{148,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,324},{146,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{146,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,160},{146,156}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,318},{146,156}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{146,156}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{146,154}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{146,154}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,158},{146,154}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{146,154}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>skeleton-stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,318},{146,154}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{146,154}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>鬼妖蜘蛛.png</string>
            <key>size</key>
            <string>{1482,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c68443b3d29091d8f1f22cf48b8f31e1$</string>
            <key>textureFileName</key>
            <string>鬼妖蜘蛛.png</string>
        </dict>
    </dict>
</plist>
