<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1608},{150,112}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,184}</string>
            </dict>
            <key>死亡/skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{150,112}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,184}</string>
            </dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1872},{148,144}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{148,144}}</string>
                <key>sourceSize</key>
                <string>{150,184}</string>
            </dict>
            <key>死亡/skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{148,148}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{148,148}}</string>
                <key>sourceSize</key>
                <string>{150,184}</string>
            </dict>
            <key>死亡/skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{150,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,184}</string>
            </dict>
            <key>死亡/skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{150,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,184}</string>
            </dict>
            <key>死亡/skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{150,138}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{150,138}}</string>
                <key>sourceSize</key>
                <string>{150,184}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{167,128}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{167,128}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>行走/skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,140}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{179,140}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>行走/skeleton-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{177,146}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{177,146}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>行走/skeleton-run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{173,152}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{173,152}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{169,126}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{169,126}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{171,128}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{171,128}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{175,128}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{175,128}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{179,134}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{179,134}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>鬼螺.png</string>
            <key>size</key>
            <string>{183,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec0838d8499e6978ea53106bafbe78da$</string>
            <key>textureFileName</key>
            <string>鬼螺.png</string>
        </dict>
    </dict>
</plist>
