<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,983},{71,66}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,68},{71,66}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,983},{71,66}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,68},{71,66}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,797},{193,72}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,73},{193,72}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,797},{193,72}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,73},{193,72}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,590},{205,56}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,94},{205,56}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,590},{205,56}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,94},{205,56}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,727},{93,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,42},{93,92}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,727},{93,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,42},{93,92}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,992},{121,96}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,42},{121,96}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,566},{159,112}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,27},{159,112}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,566},{159,112}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,27},{159,112}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,751},{165,114}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,27},{165,114}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,572},{177,118}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,27},{177,118}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,572},{177,118}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,27},{177,118}}</string>
                <key>sourceSize</key>
                <string>{291,174}</string>
            </dict>
            <key>skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1040},{73,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{73,66}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,821},{71,66}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{71,66}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1051},{73,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{73,62}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,974},{67,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{67,64}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,889},{73,64}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{73,64}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1040},{73,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{73,66}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>skeleton-show_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,918},{63,96}}</string>
                <key>offset</key>
                <string>{-8,228}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,48},{63,96}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,918},{63,96}}</string>
                <key>offset</key>
                <string>{-8,228}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,48},{63,96}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{61,564}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{61,564}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{61,564}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{61,564}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{51,562}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{51,562}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{75,590}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{75,590}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{75,586}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{75,586}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,604}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{69,604}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,955},{69,64}}</string>
                <key>offset</key>
                <string>{-12,-289}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,581},{69,64}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,608},{67,364}}</string>
                <key>offset</key>
                <string>{-5,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{67,364}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,608},{67,364}}</string>
                <key>offset</key>
                <string>{-5,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{67,364}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{67,500}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{67,500}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{63,568}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{63,568}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{63,568}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{63,568}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{67,520}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{67,520}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,594},{63,518}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{63,518}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
            <key>skeleton-show_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,594},{63,518}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{63,518}}</string>
                <key>sourceSize</key>
                <string>{93,648}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>鬼魅黑蛛.png</string>
            <key>size</key>
            <string>{497,1115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c8d2e6eda51558a2a65e4c04812ea89$</string>
            <key>textureFileName</key>
            <string>鬼魅黑蛛.png</string>
        </dict>
    </dict>
</plist>
