<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,127},{43,73}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,38},{43,73}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>skeleton-dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,145},{43,77}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,34},{43,77}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>skeleton-dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,61},{43,85}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,26},{43,85}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>skeleton-dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{57,103}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,18},{57,103}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>skeleton-dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{71,123}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,10},{71,123}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>skeleton-dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,141}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,3},{83,141}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>skeleton-dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{67,107}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,1},{67,107}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>skeleton-dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{65,101}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,7},{65,101}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>skeleton-dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{65,101}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,7},{65,101}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>skeleton-dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{65,99}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,8},{65,99}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>skeleton-move_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,200},{43,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,13},{43,62}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,201},{45,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,13},{45,58}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,154},{43,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,10},{43,66}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,156},{43,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,8},{43,68}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,155},{43,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,13},{43,62}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,152},{47,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,10},{47,60}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,199},{47,60}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,7},{47,60}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,103},{47,60}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,6},{47,60}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,105},{47,64}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,3},{47,64}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,106},{47,66}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,2},{47,66}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,106},{45,66}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,4},{45,66}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,202},{45,66}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,6},{45,66}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>skeleton-move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,111},{43,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,8},{43,68}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>魂灯.png</string>
            <key>size</key>
            <string>{473,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:811af2ca7bec8a41e2c71f0701767800$</string>
            <key>textureFileName</key>
            <string>魂灯.png</string>
        </dict>
    </dict>
</plist>
