<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>鲛人-待机0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1497},{99,133}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,25},{99,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{99,135}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,24},{99,135}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{99,135}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,24},{99,135}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{99,135}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,25},{99,135}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{99,135}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,25},{99,135}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,135}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,25},{99,135}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{99,133}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{99,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1227},{99,133}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{99,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{99,133}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{99,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{99,133}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{99,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{99,133}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,25},{99,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>鲛人-待机0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{99,133}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,25},{99,133}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>鲛人-待机.png</string>
            <key>size</key>
            <string>{103,1632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95ac2abd16e9fcd1ffb810f3dd59ad90$</string>
            <key>textureFileName</key>
            <string>鲛人-待机.png</string>
        </dict>
    </dict>
</plist>
