<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>死亡/skeleton-die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,482},{320,444}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,81},{320,444}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>死亡/skeleton-die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,526}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,54},{558,526}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>死亡/skeleton-die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{550,552}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{550,552}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>死亡/skeleton-die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{474,478}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,71},{474,478}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>死亡/skeleton-die_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{486,492}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,63},{486,492}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>行走/skeleton-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{234,238}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,71},{234,238}}</string>
                <key>sourceSize</key>
                <string>{258,324}</string>
            </dict>
            <key>行走/skeleton-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,562},{234,292}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{234,292}}</string>
                <key>sourceSize</key>
                <string>{258,324}</string>
            </dict>
            <key>行走/skeleton-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,556},{234,248}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,61},{234,248}}</string>
                <key>sourceSize</key>
                <string>{258,324}</string>
            </dict>
            <key>行走/skeleton-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,496},{232,260}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{232,260}}</string>
                <key>sourceSize</key>
                <string>{258,324}</string>
            </dict>
            <key>行走/skeleton-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,556},{234,272}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,40},{234,272}}</string>
                <key>sourceSize</key>
                <string>{258,324}</string>
            </dict>
            <key>行走/skeleton-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,556},{232,282}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{232,282}}</string>
                <key>sourceSize</key>
                <string>{258,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>黑山老妖.png</string>
            <key>size</key>
            <string>{2046,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26093156ec1f48beaae17b729541b723$</string>
            <key>textureFileName</key>
            <string>黑山老妖.png</string>
        </dict>
    </dict>
</plist>
